In [32]:
import numpy as np
import pandas as pd

## 2015-2016 school vaccination data
- The 3 raw datafiles for childcare, kindergarden, and 7th grade has been compiled manually into a csv called `raw15_16_combined.csv` with <= and >= removed and replaced with the corresponding numbers

In [33]:
# Import raw combined 2015-2016 school vaccination data
pertusis_1516 = pd.read_csv("Raw_Data/raw15_16_combined.csv",encoding = "ISO-8859-1")

In [34]:
pertusis_1516.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,26.0,26.0,100.00,childcare,Y
1,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,99.0,93.0,93.94,childcare,Y
2,13422032,ALAMEDA,NaN,SAN LEANDRO,AB'S PRESCHOOL AND DAYCARE,NaN,NaN,NaN,childcare,N
3,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,45.0,42.0,93.33,childcare,Y
4,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL CHILDCARE",25.0,25.0,100.00,childcare,Y

In [35]:
#Clean up missing values and set to Nan
pertusis_1516.n=pertusis_1516.n.replace('.', np.nan)
pertusis_1516.pct=pertusis_1516.pct.replace('.',np.nan)

# uppercase all counties and cities
pertusis_1516.COUNTY=pertusis_1516['COUNTY'].str.upper()
pertusis_1516.CITY=pertusis_1516['CITY'].str.upper()

In [36]:
pertusis_1516.CITY

0                HAYWARD
1                ALAMEDA
2            SAN LEANDRO
3                FREMONT
4                FREMONT
5                ALAMEDA
6          CASTRO VALLEY
7                OAKLAND
8                OAKLAND
9                OAKLAND
10               OAKLAND
11            UNION CITY
12           SAN LORENZO
13           SAN LORENZO
14            PLEASANTON
15               OAKLAND
16               ALAMEDA
17               ALAMEDA
18               ALAMEDA
19                ALBANY
20                ALBANY
21                ALBANY
22         CASTRO VALLEY
23               HAYWARD
24               OAKLAND
25               FREMONT
26                ALBANY
27               ALAMEDA
28            EMERYVILLE
29               OAKLAND
              ...
21493            ESPARTO
21494    WEST SACRAMENTO
21495    WEST SACRAMENTO
21496    WEST SACRAMENTO
21497    WEST SACRAMENTO
21498    WEST SACRAMENTO
21499    WEST SACRAMENTO
21500    WEST SACRAMENTO
21501    WEST SACRAMENTO
21502            WINTERS
21503           WOODLAND
21504           WOODLAND
21505    WEST SACRAMENTO
21506              DAVIS
21507              DAVIS
21508              DAVIS
21509    WEST SACRAMENTO
21510    WEST SACRAMENTO
21511           WOODLAND
21512         MARYSVILLE
21513         MARYSVILLE
21514         MARYSVILLE
21515         MARYSVILLE
21516         MARYSVILLE
21517         OLIVEHURST
21518        PLUMAS LAKE
21519          WHEATLAND
21520          WHEATLAND
21521         MARYSVILLE
21522         MARYSVILLE
Name: CITY, Length: 21523, dtype: object

In [37]:
pertusis_1516.dtypes

FACILITY_NUMBER         int64
COUNTY                 object
pub_priv_headstart     object
CITY                   object
FACILITY_NAME          object
ENROLLMENT            float64
n                     float64
pct                   float64
vac_info_type          object
REPORTED               object
dtype: object

In [38]:
# Change n and percent to floats
pertusis_1516[['n', 'pct']] = pertusis_1516[['n', 'pct']].astype('float64')

In [39]:
# Check conversion
pertusis_1516.dtypes

FACILITY_NUMBER         int64
COUNTY                 object
pub_priv_headstart     object
CITY                   object
FACILITY_NAME          object
ENROLLMENT            float64
n                     float64
pct                   float64
vac_info_type          object
REPORTED               object
dtype: object

In [40]:
pertusis_1516.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,26.0,26.0,100.00,childcare,Y
1,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,99.0,93.0,93.94,childcare,Y
2,13422032,ALAMEDA,NaN,SAN LEANDRO,AB'S PRESCHOOL AND DAYCARE,NaN,NaN,NaN,childcare,N
3,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,45.0,42.0,93.33,childcare,Y
4,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL CHILDCARE",25.0,25.0,100.00,childcare,Y

In [41]:
sum(pertusis_1516.REPORTED=='N')

1823

In [42]:
sum(pertusis_1516.REPORTED=='Y')

19700

Subset dataset to those that reported

In [43]:
# Take subset that have numbers
vac_1516=pertusis_1516[pertusis_1516.REPORTED=='Y']

In [44]:
vac_1516.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,26.0,26.0,100.00,childcare,Y
1,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,99.0,93.0,93.94,childcare,Y
3,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,45.0,42.0,93.33,childcare,Y
4,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL CHILDCARE",25.0,25.0,100.00,childcare,Y
5,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,35.0,34.0,97.14,childcare,Y

Numbers in the original document have been surpressed for <=1%, <=2%, <=5% and >=95%,>=98%,>=99% so will impute values by assuming that the percentage is equal to whatever value listed and multiply by the number of students enrolled at the school.

In [45]:
# Calculate n from enrollment and approximate percentage
vac_1516.loc[:,('n')]=vac_1516.n.fillna(vac_1516.ENROLLMENT*vac_1516.pct/100)

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [46]:
vac_1516.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,26.0,26.0,100.00,childcare,Y
1,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,99.0,93.0,93.94,childcare,Y
3,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,45.0,42.0,93.33,childcare,Y
4,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL CHILDCARE",25.0,25.0,100.00,childcare,Y
5,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,35.0,34.0,97.14,childcare,Y

In [47]:
# Change to integers 
vac_1516.loc[:,('ENROLLMENT','n','pct')]=vac_1516.loc[:,('ENROLLMENT','n','pct')].astype('int64')

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [48]:
vac_1516.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,26,26,100,childcare,Y
1,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,99,93,93,childcare,Y
3,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,45,42,93,childcare,Y
4,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL CHILDCARE",25,25,100,childcare,Y
5,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,35,34,97,childcare,Y

In [49]:
# Change print settings to see all
#np.set_printoptions(threshold=np.nan)
#change back to default printing length
np.set_printoptions(threshold=5)
# Check County names
sorted(list(vac_1516.COUNTY.unique()))

['ALAMEDA',
 'AMADOR',
 'BERKELEY CITY',
 'BUTTE',
 'CALAVERAS',
 'COLUSA',
 'CONTRA COSTA',
 'DEL NORTE',
 'EL DORADO',
 'FRESNO',
 'GLENN',
 'HUMBOLDT',
 'IMPERIAL',
 'INYO',
 'KERN',
 'KINGS',
 'LAKE',
 'LASSEN',
 'LOS ANGELES',
 'MADERA',
 'MARIN',
 'MARIPOSA',
 'MENDOCINO',
 'MERCED',
 'MODOC',
 'MONO',
 'MONTEREY',
 'NAPA',
 'NEVADA',
 'ORANGE',
 'PLACER',
 'PLUMAS',
 'RIVERSIDE',
 'SACRAMENTO',
 'SAN BENITO',
 'SAN BERNARDINO',
 'SAN DIEGO',
 'SAN FRANCISCO',
 'SAN JOAQUIN',
 'SAN LUIS OBISPO',
 'SAN MATEO',
 'SANTA BARBARA',
 'SANTA CLARA',
 'SANTA CRUZ',
 'SHASTA',
 'SIERRA',
 'SISKIYOU',
 'SOLANO',
 'SONOMA',
 'STANISLAUS',
 'SUTTER',
 'TEHAMA',
 'TRINITY',
 'TULARE',
 'TUOLUMNE',
 'VENTURA',
 'YOLO',
 'YUBA']

In [50]:
#Check city names
sorted(list(vac_1516.CITY.unique()))

['ACAMPO',
 'ACTON',
 'ADELANTO',
 'AGOURA',
 'AGOURA HILLS',
 'AGUA DULCE',
 'AGUANGA',
 'AHWAHNEE',
 'ALAMEDA',
 'ALAMO',
 'ALBANY',
 'ALHAMBRA',
 'ALISO VIEJO',
 'ALLENSWORTH',
 'ALPAUGH',
 'ALPINE',
 'ALTA',
 'ALTA LOMA',
 'ALTADENA',
 'ALTURAS',
 'ALVISO',
 'AMERICAN CANYON',
 'ANAHEIM',
 'ANAHEIM HILLS',
 'ANDERSON',
 'ANGELS CAMP',
 'ANGWIN',
 'ANTELOPE',
 'ANTIOCH',
 'ANZA',
 'APPLE VALLEY',
 'APTOS',
 'ARBOGA',
 'ARBUCKLE',
 'ARCADIA',
 'ARCATA',
 'ARCATA CA',
 'ARLETA',
 'ARMONA',
 'ARNOLD',
 'AROMAS',
 'ARROYO GRANDE',
 'ARTESIA',
 'ARVIN',
 'ATASCADERO',
 'ATHERTON',
 'ATWATER',
 'AUBERRY',
 'AUBURN',
 'AVALON',
 'AVENAL',
 'AVERY',
 'AZUSA',
 'BAKER',
 'BAKERSFIELD',
 'BALDWIN PARK',
 'BALDY MESA',
 'BALLICO',
 'BANGOR',
 'BANNING',
 'BANTA',
 'BARSTOW',
 'BAY POINT',
 'BAYSIDE',
 'BEALE AFB',
 'BEALE AIR FORCE BASE',
 'BEAUMONT',
 'BELL',
 'BELL GARDENS',
 'BELLA VISTA',
 'BELLFLOWER',
 'BELMONT',
 'BELVEDERE',
 'BEN LOMOND',
 'BENICIA',
 'BERKELEY',
 'BERKELEY AVE',
 'BERMUDA DUNES',
 'BEVERLY HILLS',
 'BIEBER',
 'BIG BEAR CITY',
 'BIG BEAR LAKE',
 'BIG PINE',
 'BIG SUR',
 'BIGGS',
 'BISHOP',
 'BLOOMINGTON',
 'BLUE LAKE',
 'BLYTHE',
 'BODEGA BAY',
 'BOLINAS',
 'BONITA',
 'BONSALL',
 'BOONVILLE',
 'BORON',
 'BORREGO SPRINGS',
 'BOULDER CREEK',
 'BOULEVARD',
 'BOYES HOT SPRINGS',
 'BRADLEY',
 'BRAWLEY',
 'BREA',
 'BRENTWOOD',
 'BRICELAND',
 'BRISBANE',
 'BROWNS VALLEY',
 'BUELLTON',
 'BUENA PARK',
 'BURBANK',
 'BURLINGAME',
 'BURNEY',
 'BURNT RANCH',
 'BUTTONWILLOW',
 'BYRON',
 'CABAZON',
 'CALABASAS',
 'CALENTE',
 'CALEXICO',
 'CALIFORNIA CITY',
 'CALIMESA',
 'CALIPATRIA',
 'CALISTOGA',
 'CALPELLA',
 'CAMARILLO',
 'CAMBRIA',
 'CAMERON PARK',
 'CAMINO',
 'CAMP PENDELTON',
 'CAMPBELL',
 'CAMPO',
 'CANOGA PARK',
 'CANTUA CREEK',
 'CANYON COUNTRY',
 'CANYON COUNTY',
 'CANYON LAKE',
 'CAPISTRANO BEACH',
 'CAPITOLA',
 'CARDIFF',
 'CARDIFF BY THE SEA',
 'CARDIFF-BY-THE-SEA',
 'CARLOTTA',
 'CARLSBAD',
 'CARMEL',
 'CARMEL VALLEY',
 'CARMICHAEL',
 'CARMICHEAL',
 'CARPINTERIA',
 'CARSON',
 'CARUTHERS',
 'CASTAIC',
 'CASTRO VALLEY',
 'CASTROVILLE',
 'CATHEDRAL CITY',
 'CATHEYS VALLEY',
 'CAYUCOS',
 'CEDARVILLE',
 'CERES',
 'CERRITOS',
 'CHALLENGE',
 'CHATSWORTH',
 'CHERRY VALLEY',
 'CHESTER',
 'CHICO',
 'CHINO',
 'CHINO HILLS',
 'CHOWCHILLA',
 'CHUALAR',
 'CHULA VISTA',
 'CITRUS HEIGHTS',
 'CITY OF COMMERCE',
 'CITY OF INDUSTRY',
 'CLAREMONT',
 'CLARKSBURG',
 'CLAYTON',
 'CLEARLAKE',
 'CLEARLAKE OAKS',
 'CLIPPER GAP',
 'CLOVERDALE',
 'CLOVIS',
 'COACHELLA',
 'COALINGA',
 'COARESGOLD',
 'COARSEGOLD',
 'COLEVILLE',
 'COLFAX',
 'COLMA',
 'COLTON',
 'COLUMBIA',
 'COLUSA',
 'COMMERCE',
 'COMPTON',
 'CONCORD',
 'COOL',
 'COPPEROPOLIS',
 'CORCORAN',
 'CORNING',
 'CORONA',
 'CORONA DEL MAR',
 'CORONADO',
 'CORRALITOS',
 'CORTE MADERA',
 'COSTA MESA',
 'COTATI',
 'COTO DE CAZA',
 'COTTONWOOD',
 'COULTERVILLE',
 'COURTLAND',
 'COVELO',
 'COVINA',
 'CRESCENT CITY',
 'CRESSEY',
 'CRESTLINE',
 'CRESTON',
 'CROCKETT',
 'CROWS LANDING',
 'CUDAHY',
 'CULVER CITY',
 'CUPERTINO',
 'CUTLER',
 'CUYAMA',
 'CYPRESS',
 'DALY CITY',
 'DANA POINT',
 'DANVILLE',
 'DAVENPORT',
 'DAVIS',
 'DEL MAR',
 'DEL REY',
 'DEL REY OAKS',
 'DELANO',
 'DELHI',
 'DENAIR',
 'DESCANSO',
 'DESERT HOT SPRINGS',
 'DIAMOND BAR',
 'DIAMOND SPRINGS',
 'DINUBA',
 'DISCOVERY BAY',
 'DIXON',
 'DOBBINS',
 'DORRIS',
 'DOS PALOS',
 'DOUGLAS CITY',
 'DOWNEY',
 'DOYLE',
 'DUARTE',
 'DUBLIN',
 'DUCOR',
 'DUNLAP',
 'DUNSMUIR',
 'DURHAM',
 'E. NICOLAUS',
 'E. RANCHO DOMINGUEZ',
 'E. WHITTIER',
 'EARLIMART',
 'EAST NICOLAUS',
 'EAST PALO ALTO',
 'EASTVALE',
 'EDGEWOOD',
 'EDWARDS',
 'EL CAJON',
 'EL CENTRO',
 'EL CERRITO',
 'EL DORADO HILLS',
 'EL GRANADA',
 'EL MONTE',
 'EL NIDO',
 'EL PORTAL',
 'EL SEGUNDO',
 'EL SOBRANTE',
 'ELK CREEK',
 'ELK GROVE',
 'ELVERTA',
 'EMERALD HILLS',
 'EMERYVILLE',
 'EMPIRE',
 'ENCINITAS',
 'ENCINO',
 'ESCALON',
 'ESCONDIDO',
 'ESPARTO',
 'ETIWANDA',
 'ETNA',
 'EUREKA',
 'EXETER',
 'FAIR OAKS',
 'FAIRFAX',
 'FAIRFIELD',
 'FAIRIFELD',
 'FALL RIVER MILLS',
 'FALLBROOK',
 'FARMERSVILLE',
 'FARMINGTON',
 'FELLOWS',
 'FELTON',
 'FERNDALE',
 'FILLMORE',
 'FIREBAUGH',
 'FIVE POINTS',
 'FOLSOM',
 'FONTANA',
 'FOOTHILL RANCH',
 'FOREST RANCH',
 'FORESTHILL',
 'FORESTVILLE',
 'FORT BRAGG',
 'FORT IRWIN',
 'FORT JONES',
 'FORTUNA',
 'FOSTER CITY',
 'FOUNTAIN VALLEY',
 'FOWLER',
 'FRAZIER PARK',
 'FREEDOM',
 'FREMONT',
 'FRENCH CAMP',
 'FRESNO',
 'FT. IRWIN',
 'FULLERTON',
 'GALT',
 'GARBERVILLE',
 'GARDEN GROVE',
 'GARDEN VALLEY',
 'GARDENA',
 'GAVIOTA',
 'GEORGETOWN',
 'GERBER',
 'GEYSERVILLE',
 'GILROY',
 'GLEN ELLEN',
 'GLENDALE',
 'GLENDORA',
 'GLENN',
 'GOLD RIVER',
 'GOLETA',
 'GONZALES',
 'GORMAN',
 'GOSHEN',
 'GRANADA HILLS',
 'GRAND TERRACE',
 'GRANITE BAY',
 'GRASS VALLEY',
 'GREENFIELD',
 'GREENVILLE',
 'GRENADA',
 'GRIDLEY',
 'GROVELAND',
 'GROVER BEACH',
 'GUADALUPE',
 'GUERNEVILLE',
 'GUSTINE',
 'HACIENDA HEIGHTS',
 'HALF MOON BAY',
 'HAMILTON CITY',
 'HANFORD',
 'HAPPY CAMP',
 'HARBOR CITY',
 'HAWAIIAN GARDENS',
 'HAWTHORNE',
 'HAYFORK',
 'HAYWARD',
 'HEALDSBURG',
 'HEBER',
 'HELENDALE',
 'HELM',
 'HEMET',
 'HERALD',
 'HERCULES',
 'HERLONG',
 'HERMOSA BEACH',
 'HESPERIA',
 'HICKMAN',
 'HIGHLAND',
 'HILLSBOROUGH',
 'HILMAR',
 'HOLLISTER',
 'HOLLYWOOD',
 'HOLTVILLE',
 'HOOPA',
 'HUGHSON',
 'HUNTINGTON BEACH',
 'HUNTINGTON PARK',
 'HURON',
 'HYDESVILLE',
 'IDYLLWILD',
 'IMPERIAL',
 'IMPERIAL BEACH',
 'INDIAN WELLS',
 'INDIO',
 'INGLEWOOD',
 'INVERNESS',
 'INYOKERN',
 'IONE',
 'IRVINE',
 'IRWINDALE',
 'ISLETON',
 'IVANHOE',
 'JACKSON',
 'JACUMBA',
 'JAMESTOWN',
 'JAMUL',
 'JANESVILLE',
 'JOSHUA TREE',
 'JULIAN',
 'JUNCTION CITY',
 'JURUPA VALLEY',
 'KELSEYVILLE',
 'KENSINGTON',
 'KENTFIELD',
 'KENWOOD',
 'KERMAN',
 'KERNVILLE',
 'KETTLEMAN CITY',
 'KEYES',
 'KING CITY',
 'KINGS BEACH',
 'KINGSBURG',
 'KLAMATH',
 'KNIGHTS FERRY',
 'KNIGHTS LANDING',
 'KNIGHTSEN',
 'LA CANADA',
 'LA CANADA FLINTRIDGE',
 'LA CAÃƒ\x91ADA',
 'LA CRESCENTA',
 'LA GRANGE',
 'LA HABRA',
 'LA HABRA HEIGHTS',
 'LA HONDA',
 'LA JOLLA',
 'LA MESA',
 'LA MIRADA',
 'LA PALMA',
 'LA PUENTE',
 'LA QUINTA',
 'LA SELVA BEACH',
 'LA VERNE',
 'LADERA RANCH',
 'LAFAYETTE',
 'LAGUAN NIGUEL',
 'LAGUNA BEACH',
 'LAGUNA HILLS',
 'LAGUNA NIGUEL',
 'LAGUNA NIGUEL STE 3409',
 'LAGUNA WOODS',
 'LAKE ARROWHEAD',
 'LAKE BALBOA',
 'LAKE ELSINORE',
 'LAKE FOREST',
 'LAKE HUGHES',
 'LAKE ISABELLA',
 'LAKE VIEW TERRACE',
 'LAKEPORT',
 'LAKESIDE',
 'LAKEVIEW TERRACE',
 'LAKEWOOD',
 'LAMONT',
 'LANCASTER',
 'LANDERS',
 'LAPUENTE',
 'LARKSPUR',
 'LAS FLORES',
 'LATHROP',
 'LATON',
 'LAVERNE',
 'LAWNDALE',
 'LAYTONVILLE',
 'LE GRAND',
 'LEBEC',
 'LEE VINING',
 'LEMON COVE',
 'LEMON GROVE',
 'LEMOORE',
 'LENNOX',
 'LENWOOD',
 'LEONA VALLEY',
 'LEUCADIA',
 'LEWISTON',
 'LINCOLN',
 'LINDEN',
 'LINDSAY',
 'LITCHFIELD',
 'LITTLEROCK',
 'LIVE OAK',
 'LIVERMORE',
 'LIVINGSTON',
 'LOCKEFORD',
 'LOCKWOOD',
 'LODI',
 'LOLETA',
 'LOMA LINDA',
 'LOMITA',
 'LOMPOC',
 'LONE PINE',
 'LONG BEACH',
 'LOOMIS',
 'LOS ALAMITOS',
 'LOS ALAMOS',
 'LOS ALTOS',
 'LOS ALTOS HILLS',
 'LOS ANGELES',
 'LOS BANOS',
 'LOS FLORES',
 'LOS GATOS',
 'LOS MOLINOS',
 'LOS NIETOS',
 'LOS OLIVOS',
 'LOS OSOS',
 'LOST HILLS',
 'LOWER LAKE',
 'LOYALTON',
 'LUCERNE',
 'LUCERNE VALLEY',
 'LYNWOOD',
 'MADERA',
 'MADISON',
 'MAGALIA',
 'MALIBU',
 'MAMMOTH LAKES',
 'MANHATTAN BEACH',
 'MANTECA',
 'MARICOPA',
 'MARIN CITY',
 'MARINA',
 'MARINA DEL REY',
 'MARIPOSA',
 'MARTINEZ',
 'MARYSVILLE',
 'MATHER',
 'MAXWELL',
 'MAYWOOD',
 'MC KINLEYVILLE',
 'MCARTHUR',
 'MCCLELLAN',
 'MCFARLAND',
 'MCKINLEYVILLE',
 'MEADOW VISTA',
 'MECCA',
 'MENDOCINO',
 'MENDOTA',
 'MENIFEE',
 'MENLO PARK',
 'MENTONE',
 'MERCED',
 'MIDDLETOWN',
 'MIDWAY CITY',
 'MILL VALLEY',
 'MILLBRAE',
 'MILLVILLE',
 'MILPITAS',
 'MIRA LOMA',
 'MIRANDA',
 'MISION VIEJO',
 'MISSION HILLS',
 'MISSION VIEJO',
 'MODESTO',
 'MOFFETT FIELD',
 'MOJAVE',
 'MOKELUMNE HILL',
 'MONROVIA',
 'MONTAGUE',
 'MONTARA',
 'MONTCLAIR',
 'MONTCLAIR,',
 'MONTE RIO',
 'MONTEBELLO',
 'MONTEREY',
 'MONTEREY PARK',
 'MONTGOMERY CREEK',
 'MONTROSE',
 'MOORPARK',
 'MORAGA',
 'MORENO VALLEY',
 'MORGAN HILL',
 'MORONGO VALLEY',
 'MORRO BAY',
 'MOUNT HERMON',
 'MOUNT SHASTA',
 'MOUNTAIN HOUSE',
 'MOUNTAIN VIEW',
 'MT. BALDY',
 'MT. SHASTA',
 'MT. VIEW',
 'MURPHYS',
 'MURRIETA',
 'MURRIETTA',
 'MUSCOY',
 'N. HOLLYWOOD',
 'N.A.S. LEMOORE',
 'NAPA',
 'NAS LEMOORE',
 'NATIONAL CITY',
 'NEEDLES',
 'NEVADA CITY',
 'NEW CUYAMA',
 'NEWARK',
 'NEWBERRY SPRINGS',
 'NEWBURY PARK',
 'NEWCASTLE',
 'NEWELL',
 'NEWHALL',
 'NEWMAN',
 'NEWPORT BEACH',
 'NEWPORT COAST',
 'NILAND',
 'NIPOMO',
 'NORCO',
 'NORTH FORK',
 'NORTH HIGHLANDS',
 'NORTH HILLS',
 'NORTH HOLLYWOOD',
 'NORTH SHORE',
 'NORTH TUSTIN',
 'NORTHRIDGE',
 'NORWALK',
 'NOVATO',
 'NUEVO',
 "O'NEALS",
 'OAK PARK',
 'OAK RUN',
 'OAK VIEW',
 'OAKDALE',
 'OAKHURST',
 'OAKLAND',
 'OAKLEY',
 'OCCIDENTAL',
 'OCEANO',
 'OCEANSIDE',
 'OJAI',
 'OLIVEHURST',
 'OLYMPIC VALLEY',
 'ONTARIO',
 'ORANGE',
 'ORANGE COVE',
 'ORANGEVALE',
 'ORCUTT',
 'ORINDA',
 'ORLAND',
 'ORLEANS',
 'ORO GRANDE',
 'OROSI',
 'OROVILLE',
 'OXNARD',
 'PACIFIC GROVE',
 'PACIFIC PALISADES',
 'PACIFICA',
 'PACOIMA',
 'PACOMIA',
 'PALA',
 'PALERMO',
 'PALM DESERT',
 'PALM SPRINGS',
 'PALMDALE',
 'PALO ALTO',
 'PALO CEDRO',
 'PALOS VERDES ESTATES',
 'PALOS VERDES PENINSULA',
 'PANORAM CITY',
 'PANORAMA CITY',
 'PARADISE',
 'PARAMOUNT',
 'PARLIER',
 'PASADENA',
 'PASO ROBLES',
 'PATTERSON',
 'PAUMA VALLEY',
 'PEARBLOSSOM',
 'PENN VALLEY',
 'PENNGROVE',
 'PENRYN',
 'PERRIS',
 'PESCADERO',
 'PETALUMA',
 'PETROLIA',
 'PHELAN',
 'PICO RIVERA',
 'PIEDMONT',
 'PINE GROVE',
 'PINE VALLEY',
 'PINEDALE',
 'PINOLE',
 'PINON HILLS',
 'PIONEER',
 'PIRU',
 'PISMO BEACH',
 'PITTSBURG',
 'PIXLEY',
 'PLACENTIA',
 'PLACERVILLE',
 'PLANADA',
 'PLAYA DEL REY',
 'PLAYA VISTA',
 'PLEASANT GROVE',
 'PLEASANT HILL',
 'PLEASANTON',
 'PLUMAS LAKE',
 'PLYMOUTH',
 'POINT ARENA',
 'POINT REYES STATION',
 'POLLOCK PINES',
 'POMONA',
 'PORT HUENEME',
 'PORTER RANCH',
 'PORTERVILLE',
 'PORTOLA',
 'PORTOLA VALLEY',
 'POTRERO',
 'POTTER VALLEY',
 'POWAY',
 'PRATHER',
 'PRINCETON',
 'PRUNEDALE',
 'PT. REYES STATION',
 'QUAIL VALLEY',
 'QUARTZ HILL',
 'QUINCY',
 'RAIL ROAD FLAT',
 'RAINBOW',
 'RAISIN CITY',
 'RAMONA',
 'RANCHO CORDOVA',
 'RANCHO CUCAMONGA',
 'RANCHO DOMINGUEZ',
 'RANCHO MIRAGE',
 'RANCHO MURIETA',
 'RANCHO PALOS VERDES',
 'RANCHO SAN MARGARITA',
 'RANCHO SANTA FE',
 'RANCHO SANTA MARGARITA',
 'RANCHO STA MARGARITA',
 'RED BLUFF',
 'REDDING',
 'REDLANDS',
 'REDONDO BEACH',
 'REDWAY',
 'REDWOOD CITY',
 'REDWOOD VALLEY',
 'REEDLEY',
 'RESCUE',
 'RESEDA',
 'RIALTO',
 'RICHGROVE',
 'RICHMOND',
 'RIDGECREST',
 'RIM FOREST',
 'RIO DELL',
 'RIO LINDA',
 'RIO OSO',
 'RIO VISTA',
 'RIPON',
 'RIVERBANK',
 'RIVERDALE',
 'RIVERSIDE',
 'RIVERSIDTY',
 'ROBBINS',
 'ROCKLIN',
 'RODEO',
 'ROHNERT PARK',
 'ROLLING HILLS ESTATE',
 'ROLLING HILLS ESTATES',
 'ROMOLAND',
 'ROSAMOND',
 'ROSEMEAD',
 'ROSEVILLE',
 'ROSS',
 'ROSSMOOR',
 'ROWLAND HEIGHTS',
 'RUNNING SPRINGS',
 'RUTHERFORD',
 'S LAKE TAHOE',
 'S. EL MONTE',
 'SACRAMENTO',
 'SAINT HELENA',
 'SALIDA',
 'SALINAS',
 'SALTON CITY',
 'SAN ANDREAS',
 'SAN ANSELMO',
 'SAN ARDO',
 'SAN BERNARDINO',
 'SAN BRUNO',
 'SAN CARLOS',
 'SAN CLEMENTE',
 'SAN DIEGO',
 'SAN DIMAS',
 'SAN FERNANDO',
 'SAN FRANCISCO',
 'SAN GABRIEL',
 'SAN GERONIMO',
 'SAN JACINTO',
 'SAN JOAQUIN',
 'SAN JOSE',
 'SAN JUAN BAUTISTA',
 'SAN JUAN CAPISTRANO',
 'SAN LEANDRO',
 'SAN LORENZO',
 'SAN LUIS OBISPO',
 'SAN MARCOS',
 'SAN MARINO',
 'SAN MARTIN',
 'SAN MATEO',
 'SAN MIGUEL',
 'SAN PABLO',
 'SAN PEDRO',
 'SAN RAFAEL',
 'SAN RAMON',
 'SAN YSIDRO',
 'SANGER',
 'SANTA ANA',
 'SANTA BARBARA',
 'SANTA CATALINA',
 'SANTA CLARA',
 'SANTA CLARA CA',
 'SANTA CLARITA',
 'SANTA CRUZ',
 'SANTA FE SPRINGS',
 'SANTA MARGARITA',
 'SANTA MARIA',
 'SANTA MONICA',
 'SANTA NELLA',
 'SANTA PAULA',
 'SANTA ROSA',
 'SANTA YNEZ',
 'SANTA YSABEL',
 'SANTEE',
 'SARATOGA',
 'SAUGUS',
 'SAUSALITO',
 'SCOTIA',
 'SCOTTS VALLEY',
 'SEAL BEACH',
 'SEASIDE',
 'SEBASTOPOL',
 'SEELEY',
 'SELMA',
 'SHAFTER',
 'SHANDON',
 'SHASTA',
 'SHASTA LAKE',
 'SHASTA LAKE CITY',
 'SHERMAN OAKS',
 'SHINGLE SPRINGS',
 'SHINGLETOWN',
 'SIERRA MADRE',
 'SIGNAL HILL',
 'SILVERADO',
 'SILVERADO CANYON',
 'SIMI VALLEY',
 'SLOUGHHOUSE',
 'SMITH RIVER',
 'SNELLING',
 'SOLANA BEACH',
 'SOLEDAD',
 'SOLVANG',
 'SOMERSET',
 'SOMIS',
 'SONOMA',
 'SONORA',
 'SOQUEL',
 'SOULSBYVILLE',
 'SOUTH EL MONTE',
 'SOUTH GATE',
 'SOUTH LAKE TAHOE',
 'SOUTH PASADENA',
 'SOUTH SAN FRANCISCO',
 'SOUTH SAN GABRIEL',
 'SOUTH WHITTIER',
 'SPECKLES',
 'SPRECKELS',
 'SPRING VALLEY',
 'SPRINGVILLE',
 'ST HELENA',
 'ST. HELENA',
 'STANFORD',
 'STANTAN',
 'STANTON',
 'STEVENSON RANCH',
 'STEVENSONS RANCH',
 'STEVINSON',
 'STINSON',
 'STOCKTON',
 'STRATFORD',
 'STRATHMORE',
 'STUDIO CITY',
 'SUGARLOAF',
 'SUISUN',
 'SUISUN CITY',
 'SUMMERLAND',
 'SUN CITY',
 'SUN VALLEY',
 'SUNLAND',
 'SUNNYALE',
 'SUNNYVALE',
 'SUNOL',
 'SUNSET BEACH',
 'SUSANVILLE',
 'SUTTER',
 'SUTTER CREEK',
 'SYLMAR',
 'TAFT',
 'TAHOE CITY',
 'TARZANA',
 'TEHACHAPI',
 'TEHAMA',
 'TEMECULA',
 'TEMPLE CITY',
 'TEMPLETON',
 'TERMO',
 'TERRA BELLA',
 'THERMAL',
 'THORNTON',
 'THOUSAND OAKS',
 'THOUSAND PALMS',
 'THREE RIVERS',
 'TIBURON',
 'TIPTON',
 'TOLLHOUSE',
 'TOMALES',
 'TOPANGA',
 'TORRANCE',
 'TRABUCO CANYON',
 'TRACY',
 'TRANQUILLITY',
 'TRAVER',
 'TRAVIS AFB',
 'TRES PINOS',
 'TRINIDAD',
 'TRONA',
 'TRUCKEE',
 'TUJUNGA',
 'TULARE',
 'TULE RESERVATION',
 'TULELAKE',
 'TUOLUMNE',
 'TUPMAN',
 'TURLOCK',
 'TUSTIN',
 'TWAIN HARTE',
 'TWENTY NINE PALMS',
 'TWENTYNINE PALMS',
 'TWIN PEAKS',
 'UKIAH',
 'UNION CITY',
 'UPLAND',
 'UPPER LAKE',
 'UPPERLAKE',
 'VACAVILLE',
 'VAL VERDE',
 'VALENCIA',
 'VALINDA',
 'VALLEJO',
 'VALLEY CENTER',
 'VALLEY GLEN',
 'VALLEY HOME',
 'VALLEY SPRINGS',
 'VALLEY VILLAGE',
 'VAN NUYS',
 'VANDENBERG AFB',
 'VANDENBERG AIR FORCE BASE',
 'VENICE',
 'VENTURA',
 'VICTOR',
 'VICTORVILLE',
 'VILLA PARK',
 'VINA',
 'VISALIA',
 'VISTA',
 'W. SACRAMENTO',
 'WALNUT',
 'WALNUT CREEK',
 'WALNUT GROVE',
 'WALNUT PARK',
 'WALNUT VALLEY',
 'WARNER SPRINGS',
 'WASCO',
 'WATERFORD',
 'WATSONVILLE',
 'WEAVERVILLE',
 'WEED',
 'WEIMAR',
 'WELDON',
 'WEOTT',
 'WEST COVINA',
 'WEST HILLS',
 'WEST HOLLYWOOD',
 'WEST POINT',
 'WEST SACRAMENTO',
 'WESTLAKE VILLAGE',
 'WESTLEY',
 'WESTMINSTER',
 'WESTMORLAND',
 'WESTWOOD',
 'WHEATLAND',
 'WHITETHORN',
 'WHITTIER',
 'WILDOMAR',
 'WILLIAMS',
 'WILLITS',
 'WILLOW CREEK',
 'WILLOWS',
 ...]

In [51]:
# Fix City Typos
vac_1516.loc[vac_1516.CITY=='ACTON, CA', 'CITY']='ACTON'
vac_1516.loc[vac_1516.CITY=='AGOURA', 'CITY']='AGOURA HILLS'
vac_1516.loc[vac_1516.CITY=='ANAHEIM,', 'CITY']='ANAHEIM'
vac_1516.loc[vac_1516.CITY=='ANANHEIM', 'CITY']='ANAHEIM'
vac_1516.loc[vac_1516.CITY=='CA', 'CITY']='NAPA'
vac_1516.loc[vac_1516.CITY=='BEALE AIR FORCE BASE', 'CITY']='BEALE AFB' # to match census name
vac_1516.loc[vac_1516.CITY=='BENICA', 'CITY']='BENICIA'
vac_1516.loc[vac_1516.CITY=='CARDIFF', 'CITY']='CARDIFF BY THE SEA'
vac_1516.loc[vac_1516.CITY=='CARMEL', 'CITY']='CARMEL VALLEY'
vac_1516.loc[vac_1516.CITY=='CHINO,', 'CITY']='CHINO'
vac_1516.loc[vac_1516.CITY=='CHULAR', 'CITY']='CHUALAR'
vac_1516.loc[vac_1516.CITY=='CITY OF COMMERCE', 'CITY']='COMMERCE'
vac_1516.loc[vac_1516.CITY=='COSTA MESA,', 'CITY']='COSTA MESA'
vac_1516.loc[vac_1516.CITY=='CITY OF INDUSTRY', 'CITY']='INDUSTRY'
vac_1516.loc[vac_1516.CITY=='CUDAHAY', 'CITY']='CUDAHY'
vac_1516.loc[vac_1516.CITY=='E. NICOLAUS', 'CITY']='EAST NICOLAUS'
vac_1516.loc[vac_1516.CITY=='E. RANCHO DOMINGUEZ', 'CITY']='EAST RANCHO DOMINGUEZ'
vac_1516.loc[vac_1516.CITY=='E. WHITTIER', 'CITY']='EAST WHITTIER'
vac_1516.loc[vac_1516.CITY=='EL SEGUNDO,', 'CITY']='EL SEGUNDO'
vac_1516.loc[vac_1516.CITY=='FAIRIFELD', 'CITY']='FAIRFIELD'
vac_1516.loc[vac_1516.CITY=='FREMOTN', 'CITY']='FREMONT'
vac_1516.loc[vac_1516.CITY=='FT. IRWIN', 'CITY']='FORT IRWIN'
vac_1516.loc[vac_1516.CITY=='GREENFILED', 'CITY']='GREENFIELD'
vac_1516.loc[vac_1516.CITY=='HUNTINGTON', 'CITY']='HUNTINGTON PARK'
vac_1516.loc[vac_1516.CITY=='JAMUAL', 'CITY']='JAMUL'
vac_1516.loc[vac_1516.CITY=='LA', 'CITY']='LOS ANGELES'
vac_1516.loc[vac_1516.CITY=='LA CANADA', 'CITY']='LA CANADA FLINTRIDGE'
vac_1516.loc[vac_1516.CITY=='LA CRESCENTA', 'CITY']='LA CRESCENTA-MONTROSE'
vac_1516.loc[vac_1516.CITY=='LAKE VIEW TERRANCE', 'CITY']='LAKE VIEW TERRACE'
vac_1516.loc[vac_1516.CITY=='LAKEVIEW TERRACE', 'CITY']='LAKE VIEW TERRACE'
vac_1516.loc[vac_1516.CITY=='LANCASTER,', 'CITY']='LANCASTER'
vac_1516.loc[vac_1516.CITY=='LAVERNE', 'CITY']='LA VERNE'
vac_1516.loc[vac_1516.CITY=='MC KINLEYVILLE', 'CITY']='MCKINLEYVILLE'
vac_1516.loc[vac_1516.CITY=='MONTROSE', 'CITY']='LA CRESCENTA-MONTROSE'
vac_1516.loc[vac_1516.CITY=='MT. SHASTA', 'CITY']='MOUNT SHASTA'
vac_1516.loc[vac_1516.CITY=='N. HOLLYWOOD', 'CITY']='NORTH HOLLYWOOD'
vac_1516.loc[vac_1516.CITY=='N.A.S. LEMOORE', 'CITY']='LEMOORE STATION' # match census
vac_1516.loc[vac_1516.CITY=='NAS LEMOORE', 'CITY']='LEMOORE STATION'
vac_1516.loc[vac_1516.CITY=='NEWPORT BEACH,', 'CITY']='NEWPORT BEACH'
vac_1516.loc[vac_1516.CITY=='PACOMIA', 'CITY']='PACOIMA'
vac_1516.loc[vac_1516.CITY=='PANORAM ', 'CITY']='PANORAMA CITY'
vac_1516.loc[vac_1516.CITY=='PANORAM CITY', 'CITY']='PANORAMA CITY'
vac_1516.loc[vac_1516.CITY=='PT. REYES STATION', 'CITY']='POINT REYES STATION'
vac_1516.loc[vac_1516.CITY=='RANCHO SANTA MARGARI', 'CITY']='RANCHO SANTA MARGARITA'
vac_1516.loc[vac_1516.CITY=='RANCHO SAN MARGARITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1516.loc[vac_1516.CITY=='RANCHO STA MARGAITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1516.loc[vac_1516.CITY=='RANCHO STA MARGARITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1516.loc[vac_1516.CITY=='RCHO STA MARG', 'CITY']='RANCHO SANTA MARGARITA'
vac_1516.loc[vac_1516.CITY=='RANCHOS PALOS VERDES', 'CITY']='RANCHO PALOS VERDES'
vac_1516.loc[vac_1516.CITY=='RIVERSIDE,', 'CITY']='RIVERSIDE'
vac_1516.loc[vac_1516.CITY=='ROLLING HILLS ESTATE', 'CITY']='ROLLING HILLS ESTATES'
vac_1516.loc[vac_1516.CITY=='S. EL MONTE', 'CITY']='SOUTH EL MONTE'
vac_1516.loc[vac_1516.CITY=='S. LAKE TAHOE', 'CITY']='SOUTH LAKE TAHOE'
vac_1516.loc[vac_1516.CITY=='SAN BERARDINO', 'CITY']='SAN BERNARDINO'
vac_1516.loc[vac_1516.CITY=='SAN FRNCISCO', 'CITY']='SAN FRANCISCO'
vac_1516.loc[vac_1516.CITY=='SAN JOSE,', 'CITY']='SAN JOSE'
vac_1516.loc[vac_1516.CITY=='SANTA BARARA', 'CITY']='SANTA BARBARA'
vac_1516.loc[vac_1516.CITY=='SHASTA LAKE CITY', 'CITY']='SHASTA LAKE'
vac_1516.loc[vac_1516.CITY=='SILVERADO CANYON', 'CITY']='SILVERADO'
vac_1516.loc[vac_1516.CITY=='SOUTH LATE TAHOE', 'CITY']='SOUTH LAKE TAHOE'
vac_1516.loc[vac_1516.CITY=='SPRECKLES', 'CITY']='SPRECKELS'
vac_1516.loc[vac_1516.CITY=='STEVENSONS RANCH', 'CITY']='STEVENSON RANCH'
vac_1516.loc[vac_1516.CITY=='SUISUN', 'CITY']='SUISUN CITY'
vac_1516.loc[vac_1516.CITY=='SUNNYALE', 'CITY']='SUNNYVALE'
vac_1516.loc[vac_1516.CITY=='SUPELVEDA', 'CITY']='SEPULVEDA'
vac_1516.loc[vac_1516.CITY=='TURLOCK,', 'CITY']='TURLOCK'
vac_1516.loc[vac_1516.CITY=='UPPERLAKE', 'CITY']='UPPER LAKE'
vac_1516.loc[vac_1516.CITY=='VANDENBERG AIR FORCE BASE', 'CITY']='VANDENBERG AFB' # match census
vac_1516.loc[vac_1516.CITY=='W. SACRAMENTO', 'CITY']='WEST SACRAMENTO'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [52]:
# Change case to title case
vac_1516.COUNTY=vac_1516['COUNTY'].str.title()
vac_1516.CITY=vac_1516['CITY'].str.title()

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [53]:
# RECODE NEIGHBORHOODS TO CITIES to match Census
vac_1516.loc[vac_1516.CITY=='Alta Loma', 'CITY']='Rancho Cucamonga'
vac_1516.loc[vac_1516.CITY=='Alviso', 'CITY']='San Jose'
vac_1516.loc[vac_1516.CITY=='Anaheim Hills', 'CITY']='Anaheim'
vac_1516.loc[vac_1516.CITY=='Angels Camp', 'CITY']='Angels City'
vac_1516.loc[vac_1516.CITY=='Arleta', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Canoga Park', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Canyon Country', 'CITY']='Santa Clarita'
vac_1516.loc[vac_1516.CITY=='Capistrano Beach', 'CITY']='Dana Point'
vac_1516.loc[vac_1516.CITY=='Cardiff By The Sea', 'CITY']='Encinitas'
vac_1516.loc[vac_1516.CITY=='Carmel Valley', 'CITY']='Carmel Valley Village'
vac_1516.loc[vac_1516.CITY=='Chatsworth', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Corona Del Mar', 'CITY']='Newport Beach'
vac_1516.loc[vac_1516.CITY=='Edwards', 'CITY']='Edwards AFB'
vac_1516.loc[vac_1516.CITY=='Emerald Hills', 'CITY']='San Diego'
vac_1516.loc[vac_1516.CITY=='Encino', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Etiwanda', 'CITY']='Rancho Cucamonga'
vac_1516.loc[vac_1516.CITY=='Foothill Ranch', 'CITY']='Lake Forest'
vac_1516.loc[vac_1516.CITY=='Granada Hills', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Harbor City', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Highland Park', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Hollywood', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Idyllwild', 'CITY']='Idyllwild-Pine Cove'
vac_1516.loc[vac_1516.CITY=='La Jolla', 'CITY']='San Diego'
vac_1516.loc[vac_1516.CITY=='Lake Balboa', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Lake View Terrace', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Leucadia', 'CITY']='Encinitas'
vac_1516.loc[vac_1516.CITY=='Mar Vista', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Mcclellan', 'CITY']='North Highlands'
vac_1516.loc[vac_1516.CITY=='Mira Loma', 'CITY']='Jurupa Valley'
vac_1516.loc[vac_1516.CITY=='Murrietta', 'CITY']='Murrieta'
vac_1516.loc[vac_1516.CITY=='Newbury Park', 'CITY']='Thousand Oaks'
vac_1516.loc[vac_1516.CITY=='Newhall', 'CITY']='Santa Clarita'
vac_1516.loc[vac_1516.CITY=='North Hills', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='North Hollywood', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Northridge', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Olympic Valley', 'CITY']='Squaw Valley'
vac_1516.loc[vac_1516.CITY=='Pacific Palisades', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Pacoima', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Palos Verdes', 'CITY']='Palos Verdes Estates'
vac_1516.loc[vac_1516.CITY=='Palos Verdes Peninsula', 'CITY']='Palos Verdes Estates'
vac_1516.loc[vac_1516.CITY=='Panorama City', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Playa Del Rey', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Playa Vista', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Porter Ranch', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Quail Valley', 'CITY']='Menifee'
vac_1516.loc[vac_1516.CITY=='Reseda', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='San Pedro', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='San Ysidro', 'CITY']='San Diego'
vac_1516.loc[vac_1516.CITY=='Santa Catalina', 'CITY']='Avalon'
vac_1516.loc[vac_1516.CITY=='Saugus', 'CITY']='Santa Clarita'
vac_1516.loc[vac_1516.CITY=='Sepulveda', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Sherman Oaks', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Studio City', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Sun City', 'CITY']='Menifee'
vac_1516.loc[vac_1516.CITY=='Sun Valley', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Sunland', 'CITY']='Sunland-Tujunga'
vac_1516.loc[vac_1516.CITY=='Sunset Beach', 'CITY']='Huntington Beach'
vac_1516.loc[vac_1516.CITY=='Sylmar', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Royal Oaks', 'CITY']='Interlaken'
vac_1516.loc[vac_1516.CITY=='Tahoe City', 'CITY']='Sunnysideâ€“Tahoe City'
vac_1516.loc[vac_1516.CITY=='Tarzana', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Tujunga', 'CITY']='Sunland-Tujunga'
vac_1516.loc[vac_1516.CITY=='Tuolumne', 'CITY']='Tuolumne City'
vac_1516.loc[vac_1516.CITY=='Twenty Nine Palms', 'CITY']='Twentynine Palms'
vac_1516.loc[vac_1516.CITY=='Valencia', 'CITY']='Santa Clarita'
vac_1516.loc[vac_1516.CITY=='Valley Glen', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Valley Village', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Van Nuys', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Venice', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Ventura', 'CITY']="San Buenaventura (Ventura)"
vac_1516.loc[vac_1516.CITY=='Walnut Creet', 'CITY']='Walnut Creek'
vac_1516.loc[vac_1516.CITY=='Walnut Valley', 'CITY']='Walnut'
vac_1516.loc[vac_1516.CITY=='West Hills', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Westchester', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Westminister', 'CITY']='Westminster'
vac_1516.loc[vac_1516.CITY=='Wilmington', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Winnetka', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Woodland Hills', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Angels City', 'CITY']='Angels city'
vac_1516.loc[vac_1516.CITY=='Cardiff-By-The-Sea', 'CITY']='Encinitas city'
vac_1516.loc[vac_1516.CITY=='Davis,', 'CITY']='Davis city'
vac_1516.loc[vac_1516.CITY=='La CaÃƒÂ±ada', 'CITY']='La Canada Flintridge'
vac_1516.loc[vac_1516.CITY=='Los Nietos', 'CITY']='West Whittier-Los Nietos CDP'
vac_1516.loc[vac_1516.CITY=='Montclair,', 'CITY']='Montclair city'
vac_1516.loc[vac_1516.CITY=='Newport Coast', 'CITY']='Newport Coast CDP'
vac_1516.loc[vac_1516.CITY=='Paso Robles', 'CITY']='El Paso de Robles (Paso Robles)'
vac_1516.loc[vac_1516.CITY=='South San Francisoc', 'CITY']='South San Francisco city
vac_1516.loc[vac_1516.CITY=='Sunland-Tujunga', 'CITY']='Los Angeles'
vac_1516.loc[vac_1516.CITY=='Arcata Ca', 'CITY']='Arcata'
vac_1516.loc[vac_1516.CITY=='Berkeley Ave', 'CITY']='Berkeley'
vac_1516.loc[vac_1516.CITY=='Camp Pendelton', 'CITY']='Camp Pendleton North CDP'
vac_1516.loc[vac_1516.CITY=='Carmicheal', 'CITY']='Carmichael CPD'
vac_1516.loc[vac_1516.CITY=='Laguan Niguel', 'CITY']='Laguna Niguel city'
vac_1516.loc[vac_1516.CITY=='Laguna Niguel Ste 3409', 'CITY']='Laguna Niguel city'
vac_1516.loc[vac_1516.CITY=='Lapuente', 'CITY']='La Puente city'
vac_1516.loc[vac_1516.CITY=='Las Flores', 'CITY']='Las Flores CDP''
vac_1516.loc[vac_1516.CITY=='Mt. View', 'CITY']='Mountain View city'
vac_1516.loc[vac_1516.CITY=='Mision Viejo', 'CITY']='Mission Viejo city'
vac_1516.loc[vac_1516.CITY=='S Lake Tahoe', 'CITY']='South Lake Tahoe city'
vac_1516.loc[vac_1516.CITY=='Saint Helena', 'CITY']='St. Helena city'
vac_1516.loc[vac_1516.CITY=='Santa Clara Ca', 'CITY']='Santa Clara city'
vac_1516.loc[vac_1516.CITY=='St Helena', 'CITY']='St Helena city'
vac_1516.loc[vac_1516.CITY=='Stantan', 'CITY']='Stanton city'
vac_1516.loc[vac_1516.CITY=='Stinson', 'CITY']='Stinson Beach CDP'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [54]:
#Get count of students vaccinated by county,city and grade
vac_n=vac_1516.groupby(by=['COUNTY','CITY','vac_info_type'], as_index=False)['n'].sum()
vac_n

       COUNTY             CITY vac_info_type     n
0     Alameda          Alameda     7th grade   752
1     Alameda          Alameda     childcare  1098
2     Alameda          Alameda  kindergarten   974
3     Alameda           Albany     7th grade   284
4     Alameda           Albany     childcare   248
5     Alameda           Albany  kindergarten   300
6     Alameda         Berkeley     7th grade   933
7     Alameda         Berkeley  kindergarten   903
8     Alameda     Berkeley Ave     childcare    61
9     Alameda    Castro Valley     7th grade   804
10    Alameda    Castro Valley     childcare   750
11    Alameda    Castro Valley  kindergarten   802
12    Alameda           Dublin     7th grade   894
13    Alameda           Dublin     childcare  1350
14    Alameda           Dublin  kindergarten  1155
15    Alameda       Emeryville     7th grade    60
16    Alameda       Emeryville     childcare   147
17    Alameda          Fremont     7th grade  2894
18    Alameda          Fremont     childcare  4112
19    Alameda          Fremont  kindergarten  3436
20    Alameda          Hayward     7th grade  1748
21    Alameda          Hayward     childcare  1949
22    Alameda          Hayward  kindergarten  2313
23    Alameda        Livermore     7th grade  1116
24    Alameda        Livermore     childcare  1366
25    Alameda        Livermore  kindergarten  1253
26    Alameda           Newark     7th grade   555
27    Alameda           Newark     childcare  1055
28    Alameda           Newark  kindergarten   670
29    Alameda          Oakland     7th grade  3963
...       ...              ...           ...   ...
2388     Yolo  Knights Landing  kindergarten    31
2389     Yolo          Madison     childcare    37
2390     Yolo  West Sacramento     7th grade   672
2391     Yolo  West Sacramento     childcare   464
2392     Yolo  West Sacramento  kindergarten   672
2393     Yolo          Winters     7th grade   122
2394     Yolo          Winters     childcare   160
2395     Yolo          Winters  kindergarten   149
2396     Yolo         Woodland     7th grade   769
2397     Yolo         Woodland     childcare   922
2398     Yolo         Woodland  kindergarten   891
2399     Yuba           Arboga     childcare    64
2400     Yuba        Beale Afb     childcare    65
2401     Yuba        Beale Afb  kindergarten   110
2402     Yuba    Browns Valley  kindergarten    29
2403     Yuba        Challenge     childcare    11
2404     Yuba        Challenge  kindergarten    16
2405     Yuba          Dobbins     childcare    11
2406     Yuba       Marysville     7th grade   407
2407     Yuba       Marysville     childcare   336
2408     Yuba       Marysville  kindergarten   498
2409     Yuba       Olivehurst     7th grade   352
2410     Yuba       Olivehurst     childcare   276
2411     Yuba       Olivehurst  kindergarten   420
2412     Yuba      Plumas Lake     7th grade   142
2413     Yuba      Plumas Lake     childcare    46
2414     Yuba      Plumas Lake  kindergarten   174
2415     Yuba        Wheatland     7th grade   126
2416     Yuba        Wheatland     childcare    64
2417     Yuba        Wheatland  kindergarten    83

[2418 rows x 4 columns]

In [55]:
#Export count of students vaccinated by county,city and grade
vac_n.to_csv("vac_n_table1516.CSV")

In [56]:
#Get average percentage of students vaccinated by county,city and grade
vac_pct=vac_1516.groupby(by=['COUNTY','CITY','vac_info_type'], as_index=False)['pct'].mean()
vac_pct

       COUNTY             CITY vac_info_type         pct
0     Alameda          Alameda     7th grade   97.666667
1     Alameda          Alameda     childcare   95.125000
2     Alameda          Alameda  kindergarten   97.266667
3     Alameda           Albany     7th grade   94.000000
4     Alameda           Albany     childcare   95.750000
5     Alameda           Albany  kindergarten   96.333333
6     Alameda         Berkeley     7th grade   97.555556
7     Alameda         Berkeley  kindergarten   85.842105
8     Alameda     Berkeley Ave     childcare   92.000000
9     Alameda    Castro Valley     7th grade   96.250000
10    Alameda    Castro Valley     childcare   96.583333
11    Alameda    Castro Valley  kindergarten   95.250000
12    Alameda           Dublin     7th grade   97.400000
13    Alameda           Dublin     childcare   97.450000
14    Alameda           Dublin  kindergarten   98.363636
15    Alameda       Emeryville     7th grade  100.000000
16    Alameda       Emeryville     childcare   97.000000
17    Alameda          Fremont     7th grade   97.375000
18    Alameda          Fremont     childcare   97.432836
19    Alameda          Fremont  kindergarten   97.717949
20    Alameda          Hayward     7th grade   99.818182
21    Alameda          Hayward     childcare   96.925000
22    Alameda          Hayward  kindergarten   97.700000
23    Alameda        Livermore     7th grade   98.111111
24    Alameda        Livermore     childcare   97.083333
25    Alameda        Livermore  kindergarten   95.142857
26    Alameda           Newark     7th grade   98.333333
27    Alameda           Newark     childcare   98.352941
28    Alameda           Newark  kindergarten   97.272727
29    Alameda          Oakland     7th grade   96.446429
...       ...              ...           ...         ...
2388     Yolo  Knights Landing  kindergarten   86.000000
2389     Yolo          Madison     childcare  100.000000
2390     Yolo  West Sacramento     7th grade   94.090909
2391     Yolo  West Sacramento     childcare   93.111111
2392     Yolo  West Sacramento  kindergarten   84.500000
2393     Yolo          Winters     7th grade  100.000000
2394     Yolo          Winters     childcare   93.000000
2395     Yolo          Winters  kindergarten   98.000000
2396     Yolo         Woodland     7th grade   98.000000
2397     Yolo         Woodland     childcare   93.571429
2398     Yolo         Woodland  kindergarten   95.818182
2399     Yuba           Arboga     childcare   94.000000
2400     Yuba        Beale Afb     childcare  100.000000
2401     Yuba        Beale Afb  kindergarten   90.500000
2402     Yuba    Browns Valley  kindergarten   90.000000
2403     Yuba        Challenge     childcare   68.000000
2404     Yuba        Challenge  kindergarten   94.000000
2405     Yuba          Dobbins     childcare   78.000000
2406     Yuba       Marysville     7th grade   95.714286
2407     Yuba       Marysville     childcare   89.375000
2408     Yuba       Marysville  kindergarten   92.000000
2409     Yuba       Olivehurst     7th grade   98.000000
2410     Yuba       Olivehurst     childcare   93.200000
2411     Yuba       Olivehurst  kindergarten   96.833333
2412     Yuba      Plumas Lake     7th grade  100.000000
2413     Yuba      Plumas Lake     childcare  100.000000
2414     Yuba      Plumas Lake  kindergarten   98.500000
2415     Yuba        Wheatland     7th grade   99.000000
2416     Yuba        Wheatland     childcare   96.000000
2417     Yuba        Wheatland  kindergarten   98.000000

[2418 rows x 4 columns]

In [57]:
#Export average percentage of students vaccinated by county,city and grade
vac_pct.to_csv("vac_pct_table1516.CSV")

In [58]:
vac_1516.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,Alameda,PRIVATE,Hayward,A JOYFUL NOISE LEARNING CENTER,26,26,100,childcare,Y
1,13420589,Alameda,PUBLIC,Alameda,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,99,93,93,childcare,Y
3,13419449,Alameda,PRIVATE,Fremont,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,45,42,93,childcare,Y
4,13417471,Alameda,PRIVATE,Fremont,"ABC MAGIC MOMENTS,INC. PRESCHOOL CHILDCARE",25,25,100,childcare,Y
5,13411388,Alameda,PRIVATE,Alameda,ABC PRESCHOOL,35,34,97,childcare,Y

In [59]:
#Export full cleaned data
vac_1516.to_csv("clean1516.csv", index=False)

## Census Data Cleaning

### Demographics

In [60]:
# Import and clean census data for basic demographics age gender race
census16 = pd.read_csv("Raw_Data/Census/ACS_16_demographic.csv",encoding = "ISO-8859-1",header=[0],na_values=['-'],)

In [61]:
census16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",1000,338,1000,(X),409,146,40.9,...,695,(X),279,101,40.1,7.1,416,194,59.9,7.1
1,1600000US0600156,600156,"Acampo CDP, California",466,398,466,(X),291,277,62.4,...,466,(X),291,277,62.4,13.7,175,137,37.6,13.7
2,1600000US0600212,600212,"Acton CDP, California",7170,555,7170,(X),3776,318,52.7,...,5777,(X),3020,279,52.3,2.2,2757,199,47.7,2.2
3,1600000US0600296,600296,"Adelanto city, California",32311,35,32311,(X),16350,651,50.6,...,16322,(X),8399,706,51.5,2.4,7923,539,48.5,2.4
4,1600000US0600310,600310,"Adin CDP, California",155,91,155,(X),59,40,38.1,...,115,(X),52,33,45.2,15.8,63,35,54.8,15.8

In [62]:
demographic16 = census16[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]

In [63]:
demographic16.dtypes

GEO.id                object
GEO.id2                int64
GEO.display-label     object
HC01_VC03              int64
HC01_VC04              int64
HC03_VC04            float64
HC01_VC05              int64
HC03_VC05            float64
HC01_VC08              int64
HC03_VC08            float64
HC01_VC09              int64
HC03_VC09            float64
HC01_VC10              int64
HC03_VC10            float64
HC01_VC11              int64
HC03_VC11            float64
HC01_VC12              int64
HC03_VC12            float64
HC01_VC13              int64
HC03_VC13            float64
HC01_VC14              int64
HC03_VC14            float64
HC01_VC15              int64
HC03_VC15            float64
HC01_VC16              int64
HC03_VC16            float64
HC01_VC17              int64
HC03_VC17            float64
HC01_VC18              int64
HC03_VC18            float64
HC01_VC19              int64
HC03_VC19            float64
HC01_VC20              int64
HC03_VC20            float64
HC01_VC23            float64
HC03_VC23             object
HC01_VC88              int64
HC03_VC88            float64
HC01_VC94              int64
HC03_VC94            float64
HC01_VC95              int64
HC03_VC95            float64
HC01_VC96              int64
HC03_VC96            float64
HC01_VC97              int64
HC03_VC97            float64
HC01_VC98              int64
HC03_VC98            float64
HC01_VC99              int64
HC03_VC99            float64
HC01_VC100             int64
HC03_VC100           float64
HC01_VC101             int64
HC03_VC101           float64
HC01_VC102             int64
HC03_VC102           float64
dtype: object

In [64]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demographic16['other']=pd.Series(census16['HC01_VC99']+census16['HC01_VC100']+census16['HC01_VC101']+census16['HC01_VC102'])

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [65]:
demographic16['other_pct']=pd.Series(census16['HC03_VC99']+census16['HC03_VC100']+census16['HC03_VC101']+census16['HC03_VC102'])

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
demographic16.rename(columns={'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
# Other race categories
#                          'HC01_VC99':'other_only',
#                          'HC01_VC100':'more_two_races',
#                          'HC01_VC101':'more_two_races_other',
#                          'HC01_VC102':'more_two_races_other_exclude',

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [67]:
demographic16.dtypes

GEO.id                  object
GEO.id2                  int64
city                    object
tot_pop                  int64
male                     int64
male_pct               float64
female                   int64
female_pct             float64
under_5                  int64
under_5_pct            float64
5_9                      int64
5_9_pct                float64
10_14                    int64
10_14_pct              float64
15_19                    int64
15_19_pct              float64
20_24                    int64
20_24_pct              float64
25_34                    int64
25_34_pct              float64
35_44                    int64
35_44_pct              float64
45_54                    int64
45_54_pct              float64
55_59                    int64
55_59_pct              float64
60_64                    int64
60_64_pct              float64
65_74                    int64
65_74_pct              float64
75_84                    int64
75_84_pct              float64
85_over                  int64
85_over_pct            float64
median_age             float64
median_age_pct          object
hispanic_latino          int64
hispanic_latino_pct    float64
white                    int64
white_pct              float64
black                    int64
black_pct              float64
aian                     int64
aian_pct               float64
asian                    int64
asian_pct              float64
nhopi                    int64
nhopi_pct              float64
HC01_VC99                int64
HC03_VC99              float64
HC01_VC100               int64
HC03_VC100             float64
HC01_VC101               int64
HC03_VC101             float64
HC01_VC102               int64
HC03_VC102             float64
other                    int64
other_pct              float64
dtype: object

In [68]:
demographic16['city']=demographic16.city.replace(' city, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [69]:
demographic16['city']=demographic16.city.replace(' CDP, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
demographic16['city']=demographic16.city.replace(' town, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
## Uppercase cities
demographic16['city']=demographic16['city'].str.title()

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [72]:
demographic16=demographic16.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demographic16.head()

,GEO.id,GEO.id2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,0,0.0,0,0.0,209,20.9,0,0.0,322,32.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,120,1.7,15,0.2,67,0.9,0,0.0,254,3.6
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,5810,18.0,12,0.0,497,1.5,0,0.0,2061,6.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,0,0.0,0,0.0,0,0.0,0,0.0,10,6.4

### Median Household Income and Health insurance Status

Median Household Income has categories 2,500-, 250,000+ which was changed to 2500 and 250000.

In [73]:
# Import and clean acs data for income and insurance status
acs16 = pd.read_csv("Raw_Data/Census/ACS_16_economic.csv", encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [74]:
acs16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC178,HC04_VC178,HC01_VC179,HC02_VC179,HC03_VC179,HC04_VC179,HC01_VC180,HC02_VC180,HC03_VC180,HC04_VC180
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",747,288,747,(X),497,296,66.5,...,0.0,26.1,(X),(X),0.0,3.5,(X),(X),0.0,26.9
1,1600000US0600156,600156,"Acampo CDP, California",466,398,466,(X),368,359,79.0,...,0.0,27.6,(X),(X),0.0,9.3,(X),(X),0.0,21.6
2,1600000US0600212,600212,"Acton CDP, California",6098,398,6098,(X),3917,339,64.2,...,5.2,3.6,(X),(X),1.6,1.2,(X),(X),39.7,11.7
3,1600000US0600296,600296,"Adelanto city, California",21534,628,21534,(X),9910,597,46.0,...,21.3,6.9,(X),(X),41.5,5.6,(X),(X),49.4,5.9
4,1600000US0600310,600310,"Adin CDP, California",123,63,123,(X),51,36,41.5,...,32.5,43.5,(X),(X),0.0,28.3,(X),(X),34.0,32.3

In [75]:
acs16=acs16[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
income16=acs16

In [76]:
income16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC85,HC01_VC131,HC03_VC131,HC01_VC132,HC03_VC132,HC01_VC133,HC03_VC133,HC01_VC134,HC03_VC134
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,"Acampo CDP, California",155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,"Acton CDP, California",91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,"Adelanto city, California",29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,"Adin CDP, California",55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [77]:
income16.dtypes

GEO.id                object
GEO.id2                int64
GEO.display-label     object
HC01_VC85            float64
HC01_VC131             int64
HC03_VC131           float64
HC01_VC132             int64
HC03_VC132           float64
HC01_VC133             int64
HC03_VC133           float64
HC01_VC134             int64
HC03_VC134           float64
dtype: object

In [78]:
income16.rename(columns={'GEO.display-label': 'city',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)

In [79]:
income16.dtypes

GEO.id                 object
GEO.id2                 int64
city                   object
median_income         float64
insurance               int64
insurance_pct         float64
private_insure          int64
private_insure_pct    float64
public_insure           int64
public_insure_pct     float64
no_insurance            int64
no_insurance_pct      float64
dtype: object

In [80]:
income16['city']=income16.city.replace(' CDP, California', '', regex=True)

In [81]:
income16['city']=income16.city.replace(' city, California', '', regex=True)

In [82]:
income16['city']=income16.city.replace(' town, California', '', regex=True)

In [83]:
income16.head()

,GEO.id,GEO.id2,city,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

## Join Demographics and income data

In [84]:
pop_data=demographic16.merge(income16, left_on='GEO.id', right_on='GEO.id', how='outer')
pop_data.head()

,GEO.id,GEO.id2_x,city_x,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,city_y,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,Acalanes Ridge,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,Acampo,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,Acton,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,Adelanto,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,Adin,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [85]:
list(pop_data.columns.values)

['GEO.id',
 'GEO.id2_x',
 'city_x',
 'tot_pop',
 'male',
 'male_pct',
 'female',
 'female_pct',
 'under_5',
 'under_5_pct',
 '5_9',
 '5_9_pct',
 '10_14',
 '10_14_pct',
 '15_19',
 '15_19_pct',
 '20_24',
 '20_24_pct',
 '25_34',
 '25_34_pct',
 '35_44',
 '35_44_pct',
 '45_54',
 '45_54_pct',
 '55_59',
 '55_59_pct',
 '60_64',
 '60_64_pct',
 '65_74',
 '65_74_pct',
 '75_84',
 '75_84_pct',
 '85_over',
 '85_over_pct',
 'median_age',
 'median_age_pct',
 'hispanic_latino',
 'hispanic_latino_pct',
 'white',
 'white_pct',
 'black',
 'black_pct',
 'aian',
 'aian_pct',
 'asian',
 'asian_pct',
 'nhopi',
 'nhopi_pct',
 'other',
 'other_pct',
 'GEO.id2_y',
 'city_y',
 'median_income',
 'insurance',
 'insurance_pct',
 'private_insure',
 'private_insure_pct',
 'public_insure',
 'public_insure_pct',
 'no_insurance',
 'no_insurance_pct']

In [86]:
pop_data=pop_data.drop(columns=['GEO.id2_y','city_y'])

In [87]:
pop_data=pop_data.rename(columns={'GEO.id': 'geoid',
                         'GEO.id2_x': 'geoid2',
                         'city_x': 'city'})

In [88]:
# Fix City naming to be similar for special characters
pop_data.loc[pop_data.city=='La CaÃ±ada Flintridge', 'city']='La Canada Flintridge'

# Change census cities names that are present in multiple places to match vaccine data city
pop_data.loc[pop_data.city=='El Sobrante Cdp (Contra Costa County), California', 'city']='El Sobrante'
pop_data.loc[pop_data.city=='Edwards Afb', 'city']='Edwards AFB'
pop_data.loc[pop_data.city=='Las Flores Cdp (Orange County), California', 'city']='Los Flores'
pop_data.loc[pop_data.city=='West Whittier-Los Nietos CDP, California', 'city']='Los Nietos'
pop_data.loc[pop_data.city=="El Paso de Robles (Paso Robles)", 'city']='Paso Robles'
pop_data.loc[pop_data.city=='PiÃ±on Hills', 'city']='Pinon Hills'
pop_data.loc[pop_data.city=='San Miguel Cdp (San Luis Obispo County), California', 'city']='San Miguel'
pop_data.loc[pop_data.city=='Spring Valley Cdp (San Diego County), California', 'city']='Spring Valley'

In [89]:
pop_data.head()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,32.2,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,0.0,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,3.6,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,6.3,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,6.4,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [90]:
# Exported merged census data
pop_data.to_csv("pop_data16.csv", index=False)

## Join Vaccine data to Census data

Join needs unique cities in the vaccine data to use as a key. Will need to figure out how to weight the different grade levels based on the census population numbers for age.

In [91]:
vac_pop_1516=vac_1516.merge(pop_data, left_on='CITY', right_on='city', how='outer')
vac_pop_1516

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,13417683.0,Alameda,PRIVATE,Hayward,A JOYFUL NOISE LEARNING CENTER,26.0,26.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
1,13419419.0,Alameda,PRIVATE,Hayward,"ARC OF ALAMEDA CO. FIRST STEP CHILDREN'S CTR.,...",17.0,16.0,94.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
2,13420960.0,Alameda,HEAD START,Hayward,CFCS - JOHN MUIR HEAD START SITE,71.0,71.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
3,10212000.0,Alameda,HEAD START,Hayward,CFCS HEAD START - GLASSBROOK,40.0,40.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
4,13418959.0,Alameda,HEAD START,Hayward,CFCS HEAD START - SUNSET,47.0,46.0,97.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
5,13418950.0,Alameda,HEAD START,Hayward,CFCS HEAD START CENTER - BIDWELL,37.0,37.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
6,13420577.0,Alameda,HEAD START,Hayward,CFCS- LORENZO MANOR HEAD START,38.0,38.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
7,13411745.0,Alameda,PUBLIC,Hayward,"CHABOT COLLEGE, CHILDREN'S CENTER",59.0,58.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
8,13414452.0,Alameda,PRIVATE,Hayward,CHERUBIM'S CHILDREN'S CENTER,11.0,11.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
9,13420978.0,Alameda,PRIVATE,Hayward,CHILDRENS CHOICE EDUCARE,31.0,29.0,93.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
10,13420608.0,Alameda,PRIVATE,Hayward,CREATIVE KIDS,28.0,28.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
11,13419440.0,Alameda,PRIVATE,Hayward,EIFFEL TOWER MONTESSORI PRESCHOOL & K,45.0,45.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
12,10210079.0,Alameda,PRIVATE,Hayward,ELMHURST DAY CARE AND PRESCHOOL,54.0,53.0,98.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
13,13422049.0,Alameda,HEAD START,Hayward,HANSEN CENTER,34.0,34.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
14,13415716.0,Alameda,PRIVATE,Hayward,HIS KIDS,34.0,24.0,70.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
15,13420954.0,Alameda,PUBLIC,Hayward,HUSD - FAIRVIEW STATE PRESCHOOL,46.0,43.0,93.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
16,13420955.0,Alameda,PUBLIC,Hayward,HUSD - HARDER STATE PRESCHOOL,47.0,47.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
17,13421426.0,Alameda,PUBLIC,Hayward,HUSD - PARK STATE PRESCHOOL,47.0,46.0,97.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
18,10214552.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - BOWMAN,46.0,42.0,91.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
19,10214554.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - CHERRYLAND,48.0,48.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
20,10206034.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - HELEN TURNER,219.0,208.0,94.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
21,10214550.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - MUIR,86.0,81.0,94.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
22,10214551.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEV. PROGRAM - SHEPHERD,48.0,47.0,97.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
23,13414055.0,Alameda,PUBLIC,Hayward,HUSD CHILD DEVELOPMENT CTR. - PALMA CEIA,44.0,43.0,97.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
24,13419486.0,Alameda,PRIVATE,Hayward,KIDANGO - AMADOR,79.0,79.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
25,13420905.0,Alameda,PRIVATE,Hayward,KIDANGO - COLONIAL ACRES,47.0,47.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
26,13422029.0,Alameda,PUBLIC,Hayward,KIDANGO - EDEN YOUTH CENTER,53.0,53.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
27,13420561.0,Alameda,PUBLIC,Hayward,KIDANGO - SUNSET,48.0,48.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
28,13419469.0,Alameda,PRIVATE,Hayward,KIDANGO HELEN TURNER,41.0,40.0,97.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
29,13411214.0,Alameda,PRIVATE,Hayward,KIDANGO-GLEN BERRY CHILD DEVELOPMENT CENTER,28.0,28.0,100.0,childcare,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.6,40756.0,5932.0,74.9,3476.0,43.9,3140.0,39.7,1984.0,25.1
20491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,89917.0,2770.0,95.5,2447.0,84.4,992.0,34.2,131.0,4.5
20492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.7,67562.0,19366.0,91.1,13911.0,65.4,7702.0,36.2,1891.0,8.9
20493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,25335.0,285.0,49.1,59.0,10.2,233.0,40.2,295.0,50.9
20494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,54138.0,843.0,85.3,560.0,56.7,443.0,44.8,145.0,14.7
20495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,180192.0,3792.0,99.1,3640.0,95.2,548.0,14.3,33.0,0.9
20496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.8,30682.0,4482.0,85.0,1152.0,21.8,3669.0,69.6,792.0,15.0
20497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7,29262.0,26135.0,81.4,11832.0,36.9,16495.0,51.4,5954.0,18.6
20498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,45526.0,631.0,82.6,264.0,34.6,424.0,55.5,133.0,17.4
20499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6,66532.0,20256.0,82.8,12245.0,50.1,9298.0,38.0,4209.0,17.2
20500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.7,52676.0,19595.0,86.7,11590.0,51.3,9985.0,44.2,3001.0,13.3
20501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,41563.0,181.0,67.3,38.0,14.1,147.0,54.6,88.0,32.7
20502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,64943.0,22262.0,82.4,15426.0,57.1,8270.0,30.6,4754.0,17.6
20503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,77188.0,65.0,100.0,53.0,81.5,57.0,87.7,0.0,0.0
20504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4,35145.0,753.0,91.7,285.0,34.7,502.0,61.1,68.0,8.3
20505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,88083.0,254.0,87.0,254.0,87.0,17.0,5.8,38.0,13.0
20506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,75875.0,489.0,90.7,477.0,88.5,85.0,15.8,50.0,9.3
20507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,38070.0,17006.0,77.5,6261.0,28.5,11366.0,51.8,4951.0,22.5
20508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
20509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.2,61208.0,18852.0,89.2,14407.0,68.2,6912.0,32.7,2280.0,10.8
20510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8,34167.0,1590.0,100.0,1109.0,69.7,1046.0,65.8,0.0,0.0
20511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,75466.0,3461.0,89.8,2716.0,70.4,1425.0,37.0,395.0,10.2
20512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.1,88133.0,14569.0,90.0,11136.0,68.8,4989.0,30.8,1621.0,10.0
20513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,140188.0,1075.0,100.0,977.0,90.9,452.0,42.0,0.0,0.0
20514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,43333.0,257.0,81.1,132.0,41.6,213.0,67.2,60.0,18.9
20515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,291.0,82.4,28.0,7.9,263.0,74.5,62.0,17.6
20516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,75792.0,371.0,82.8,301.0,67.2,80.0,17.9,77.0,17.2
20517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.4,58430.0,4417.0,86.9,3389.0,66.7,2245.0,44.2,664.0,13.1
20518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,37132.0,948.0,95.4,849.0,85.4,152.0,15.3,46.0,4.6
20519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,94432.0,884.0,93.9,791.0,84.1,195.0,20.7,57.0,6.1

In [92]:
#Export full cleaned data
vac_pop_1516.to_csv("cleanjoin1516.csv", index=False)

In [93]:
vac_pop_1516.dtypes

FACILITY_NUMBER        float64
COUNTY                  object
pub_priv_headstart      object
CITY                    object
FACILITY_NAME           object
ENROLLMENT             float64
n                      float64
pct                    float64
vac_info_type           object
REPORTED                object
geoid                   object
geoid2                 float64
city                    object
tot_pop                float64
male                   float64
male_pct               float64
female                 float64
female_pct             float64
under_5                float64
under_5_pct            float64
5_9                    float64
5_9_pct                float64
10_14                  float64
10_14_pct              float64
15_19                  float64
15_19_pct              float64
20_24                  float64
20_24_pct              float64
25_34                  float64
25_34_pct              float64
                        ...
65_74_pct              float64
75_84                  float64
75_84_pct              float64
85_over                float64
85_over_pct            float64
median_age             float64
median_age_pct          object
hispanic_latino        float64
hispanic_latino_pct    float64
white                  float64
white_pct              float64
black                  float64
black_pct              float64
aian                   float64
aian_pct               float64
asian                  float64
asian_pct              float64
nhopi                  float64
nhopi_pct              float64
other                  float64
other_pct              float64
median_income          float64
insurance              float64
insurance_pct          float64
private_insure         float64
private_insure_pct     float64
public_insure          float64
public_insure_pct      float64
no_insurance           float64
no_insurance_pct       float64
Length: 69, dtype: object