In [1]:
import numpy as np
import pandas as pd

## 2016-2017 school vaccination data
- Numbers in the original document have been surpressed for <=1%, <=2%, <=5% and >=95%,>=98%,>=99%. Original file has errors with <=,  >=, and --* symbols when importing directly from .xlsx
- The 3 raw datafiles for childcare, kindergarden, and 7th grade has been compiled manually into a csv called `raw17_18_combined.csv` with <= and >= removed and replaced with the corresponding numbers

In [2]:
# Import raw combined 2016-2017 school vaccination data
pertusis_1617 = pd.read_csv("vaxxfacts/raw_data/raw16_17_combined.csv",encoding = "ISO-8859-1")

In [3]:
pertusis_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,.,95,childcare,Y
1,13420892,ALAMEDA,UNKNOWN,ALAMEDA,A.U.S.D. - WOODSTOCK C.D.C. - HAIGHT,NaN,.,.,childcare,N
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98,98,childcare,Y
3,13422012,ALAMEDA,UNKNOWN,SAN LEANDRO,AB'S PRESCHOOL & DAYCARE,NaN,.,.,childcare,N
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,.,98,childcare,Y

In [4]:
#Clean up missing values and set to Nan
pertusis_1617.n=pertusis_1617.n.replace('.', np.nan)
pertusis_1617.pct=pertusis_1617.pct.replace('.',np.nan)

# uppercase all counties and cities
pertusis_1617.COUNTY=pertusis_1617['COUNTY'].str.upper()
pertusis_1617.CITY=pertusis_1617['CITY'].str.upper()

In [5]:
pertusis_1617.CITY

0                HAYWARD
1                ALAMEDA
2                ALAMEDA
3            SAN LEANDRO
4                FREMONT
5                FREMONT
6                ALAMEDA
7          CASTRO VALLEY
8                OAKLAND
9                OAKLAND
10               OAKLAND
11            UNION CITY
12           SAN LORENZO
13            PLEASANTON
14               ALAMEDA
15               ALAMEDA
16               ALAMEDA
17                ALBANY
18                ALBANY
19                ALBANY
20         CASTRO VALLEY
21              BERKELEY
22              BERKELEY
23                ALBANY
24               ALAMEDA
25              BERKELEY
26              BERKELEY
27              BERKELEY
28              BERKELEY
29            EMERYVILLE
              ...
19903            VENTURA
19904            VENTURA
19905            VENTURA
19906              DAVIS
19907              DAVIS
19908              DAVIS
19909              DAVIS
19910            ESPARTO
19911    WEST SACRAMENTO
19912    WEST SACRAMENTO
19913    WEST SACRAMENTO
19914    WEST SACRAMENTO
19915    WEST SACRAMENTO
19916    WEST SACRAMENTO
19917            WINTERS
19918           WOODLAND
19919           WOODLAND
19920              DAVIS
19921           DUNNIGAN
19922    WEST SACRAMENTO
19923           WOODLAND
19924         MARYSVILLE
19925         MARYSVILLE
19926         MARYSVILLE
19927         MARYSVILLE
19928         OLIVEHURST
19929        PLUMAS LAKE
19930          WHEATLAND
19931         MARYSVILLE
19932         MARYSVILLE
Name: CITY, Length: 19933, dtype: object

In [6]:
pertusis_1617.dtypes

FACILITY_NUMBER         int64
COUNTY                 object
pub_priv_headstart     object
CITY                   object
FACILITY_NAME          object
ENROLLMENT            float64
n                      object
pct                    object
vac_info_type          object
REPORTED               object
dtype: object

In [7]:
# Change n and percent to floats
pertusis_1617[['n', 'pct']] = pertusis_1617[['n', 'pct']].astype('float64')

In [8]:
# Check conversion
pertusis_1617.dtypes

FACILITY_NUMBER         int64
COUNTY                 object
pub_priv_headstart     object
CITY                   object
FACILITY_NAME          object
ENROLLMENT            float64
n                     float64
pct                   float64
vac_info_type          object
REPORTED               object
dtype: object

In [9]:
pertusis_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,NaN,95.0,childcare,Y
1,13420892,ALAMEDA,UNKNOWN,ALAMEDA,A.U.S.D. - WOODSTOCK C.D.C. - HAIGHT,NaN,NaN,NaN,childcare,N
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98.0,98.0,childcare,Y
3,13422012,ALAMEDA,UNKNOWN,SAN LEANDRO,AB'S PRESCHOOL & DAYCARE,NaN,NaN,NaN,childcare,N
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,NaN,98.0,childcare,Y

In [10]:
sum(pertusis_1617.REPORTED=='N')

2286

In [11]:
sum(pertusis_1617.REPORTED=='Y')

17647

Subset dataset to those that reported

In [12]:
# Take subset that have numbers
vac_1617=pertusis_1617[pertusis_1617.REPORTED=='Y']

In [13]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,NaN,95.0,childcare,Y
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98.0,98.0,childcare,Y
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,NaN,98.0,childcare,Y
5,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28.0,NaN,95.0,childcare,Y
6,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,32.0,NaN,95.0,childcare,Y

Numbers in the original document have been surpressed for <=1%, <=2%, <=5% and >=95%,>=98%,>=99% so will impute values by assuming that the percentage is equal to whatever value listed and multiply by the number of students enrolled at the school.

In [14]:
# Calculate n from enrollment and approximate percentage
vac_1617.loc[:,('n')]=vac_1617.n.fillna(vac_1617.ENROLLMENT*vac_1617.pct/100)

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [15]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22.0,20.9,95.0,childcare,Y
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100.0,98.0,98.0,childcare,Y
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55.0,53.9,98.0,childcare,Y
5,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28.0,26.6,95.0,childcare,Y
6,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,32.0,30.4,95.0,childcare,Y

In [16]:
# Change to integers 
vac_1617.loc[:,('ENROLLMENT','n','pct')]=vac_1617.loc[:,('ENROLLMENT','n','pct')].astype('int64')

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [17]:
vac_1617.head()

,FACILITY_NUMBER,COUNTY,pub_priv_headstart,CITY,FACILITY_NAME,ENROLLMENT,n,pct,vac_info_type,REPORTED
0,13417683,ALAMEDA,PRIVATE,HAYWARD,A JOYFUL NOISE LEARNING CENTER,22,20,95,childcare,Y
2,13420589,ALAMEDA,PUBLIC,ALAMEDA,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100,98,98,childcare,Y
4,13419449,ALAMEDA,PRIVATE,FREMONT,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55,53,98,childcare,Y
5,13417471,ALAMEDA,PRIVATE,FREMONT,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28,26,95,childcare,Y
6,13411388,ALAMEDA,PRIVATE,ALAMEDA,ABC PRESCHOOL,32,30,95,childcare,Y

In [18]:
# Change print settings to see all
#np.set_printoptions(threshold=np.nan)
#change back to default printing length
np.set_printoptions(threshold=5)
# Check County names
sorted(list(vac_1617.COUNTY.unique()))

['ALAMEDA',
 'AMADOR',
 'BUTTE',
 'CALAVERAS',
 'COLUSA',
 'CONTRA COSTA',
 'DEL NORTE',
 'EL DORADO',
 'FRESNO',
 'GLENN',
 'HUMBOLDT',
 'IMPERIAL',
 'INYO',
 'KERN',
 'KINGS',
 'LAKE',
 'LASSEN',
 'LOS ANGELES',
 'MADERA',
 'MARIN',
 'MARIPOSA',
 'MENDOCINO',
 'MERCED',
 'MODOC',
 'MONO',
 'MONTEREY',
 'NAPA',
 'NEVADA',
 'ORANGE',
 'PLACER',
 'PLUMAS',
 'RIVERSIDE',
 'SACRAMENTO',
 'SAN BENITO',
 'SAN BERNARDINO',
 'SAN DIEGO',
 'SAN FRANCISCO',
 'SAN JOAQUIN',
 'SAN LUIS OBISPO',
 'SAN MATEO',
 'SANTA BARBARA',
 'SANTA CLARA',
 'SANTA CRUZ',
 'SHASTA',
 'SIERRA',
 'SISKIYOU',
 'SOLANO',
 'SONOMA',
 'STANISLAUS',
 'SUTTER',
 'TEHAMA',
 'TRINITY',
 'TULARE',
 'TUOLUMNE',
 'VENTURA',
 'YOLO',
 'YUBA']

In [19]:
#Check city names
sorted(list(vac_1617.CITY.unique()))

['ACAMPO',
 'ACTON',
 'ADELANTO',
 'AGOURA',
 'AGOURA HILLS',
 'AGUANGA',
 'AHWAHNEE',
 'ALAMEDA',
 'ALAMO',
 'ALBANY',
 'ALHAMBRA',
 'ALISO VIEJO',
 'ALPAUGH',
 'ALPINE',
 'ALTA LOMA',
 'ALTADENA',
 'ALTURAS',
 'ALVISO',
 'AMERICAN CANYON',
 'ANAHEIM',
 'ANAHEIM HILLS',
 'ANDERSON',
 'ANGELS CAMP',
 'ANTELOPE',
 'ANTIOCH',
 'ANZA',
 'APPLE VALLEY',
 'APTOS',
 'ARBUCKLE',
 'ARCADIA',
 'ARCATA',
 'ARLETA',
 'ARMONA',
 'ARNOLD',
 'AROMAS',
 'ARROYO GRANDE',
 'ARTESIA',
 'ARVIN',
 'ATASCADERO',
 'ATHERTON',
 'ATWATER',
 'AUBERRY',
 'AUBURN',
 'AVALON',
 'AVENAL',
 'AVERY',
 'AZUSA',
 'BAKERSFIELD',
 'BALDWIN PARK',
 'BALLICO',
 'BANNING',
 'BANTA',
 'BARSTOW',
 'BAY POINT',
 'BAYSIDE',
 'BEALE AFB',
 'BEALE AIR FORCE BASE',
 'BEAUMONT',
 'BELL',
 'BELL GARDENS',
 'BELLA VISTA',
 'BELLFLOWER',
 'BELMONT',
 'BELVEDERE',
 'BEN LOMOND',
 'BENICA',
 'BENICIA',
 'BERKELEY',
 'BERMUDA DUNES',
 'BEVERLY HILLS',
 'BIG BEAR CITY',
 'BIG BEAR LAKE',
 'BIG PINE',
 'BIGGS',
 'BISHOP',
 'BLOOMINGTON',
 'BLUE LAKE',
 'BLYTHE',
 'BOLINAS',
 'BONITA',
 'BONSALL',
 'BOONVILLE',
 'BORON',
 'BORREGO SPRINGS',
 'BOULDER CREEK',
 'BOULEVARD',
 'BOYES HOT SPRINGS',
 'BRAWLEY',
 'BREA',
 'BRENTWOOD',
 'BRICELAND',
 'BRISBANE',
 'BROWNS VALLEY',
 'BUELLTON',
 'BUENA PARK',
 'BURBANK',
 'BURLINGAME',
 'BURNEY',
 'BUTTONWILLOW',
 'BYRON',
 'CABAZON',
 'CALABASAS',
 'CALEXICO',
 'CALIFORNIA CITY',
 'CALIMESA',
 'CALIPATRIA',
 'CALISTOGA',
 'CAMARILLO',
 'CAMBRIA',
 'CAMERON PARK',
 'CAMINO',
 'CAMPBELL',
 'CAMPO',
 'CANOGA PARK',
 'CANTUA CREEK',
 'CANYON COUNTRY',
 'CANYON LAKE',
 'CAPISTRANO BEACH',
 'CAPITOLA',
 'CARDIFF',
 'CARDIFF BY THE SEA',
 'CARDIFF-BY-THE-SEA',
 'CARLOTTA',
 'CARLSBAD',
 'CARMEL',
 'CARMEL VALLEY',
 'CARMICHAEL',
 'CARPINTERIA',
 'CARSON',
 'CARUTHERS',
 'CASTAIC',
 'CASTRO VALLEY',
 'CASTROVILLE',
 'CATHEDRAL CITY',
 'CAYUCOS',
 'CERES',
 'CERRITOS',
 'CHALLENGE',
 'CHATSWORTH',
 'CHERRY VALLEY',
 'CHESTER',
 'CHICO',
 'CHINO',
 'CHINO HILLS',
 'CHOWCHILLA',
 'CHUALAR',
 'CHULA VISTA',
 'CITRUS HEIGHTS',
 'CITY OF COMMERCE',
 'CITY OF INDUSTRY',
 'CLAREMONT',
 'CLARKSBURG',
 'CLAYTON',
 'CLEARLAKE',
 'CLEARLAKE OAKS',
 'CLOVERDALE',
 'CLOVIS',
 'COACHELLA',
 'COALINGA',
 'COARESGOLD',
 'COARSEGOLD',
 'COLFAX',
 'COLMA',
 'COLTON',
 'COLUMBIA',
 'COLUSA',
 'COMMERCE',
 'COMPTON',
 'CONCORD',
 'COOL',
 'COPPEROPOLIS',
 'CORCORAN',
 'CORNING',
 'CORONA',
 'CORONA DEL MAR',
 'CORONADO',
 'CORTE MADERA',
 'COSTA MESA',
 'COTATI',
 'COTO DE CAZA',
 'COTTONWOOD',
 'COURTLAND',
 'COVELO',
 'COVINA',
 'CRESCENT CITY',
 'CRESSEY',
 'CREST PARK',
 'CRESTLINE',
 'CROCKETT',
 'CROWS LANDING',
 'CUDAHY',
 'CULVER CITY',
 'CUPERTINO',
 'CUTLER',
 'CYPRESS',
 'DALY CITY',
 'DANA POINT',
 'DANVILLE',
 'DAVIS',
 'DAVIS,',
 'DEL MAR',
 'DEL REY',
 'DEL REY OAKS',
 'DELANO',
 'DELHI',
 'DENAIR',
 'DESCANSO',
 'DESERT HOT SPRINGS',
 'DIAMOND BAR',
 'DIAMOND SPRINGS',
 'DINUBA',
 'DISCOVERY BAY',
 'DIXON',
 'DORRIS',
 'DOS PALOS',
 'DOUGLAS CITY',
 'DOWNEY',
 'DOYLE',
 'DUARTE',
 'DUBLIN',
 'DUNLAP',
 'DURHAM',
 'E. RANCHO DOMINGUEZ',
 'E. WHITTIER',
 'EARLIMART',
 'EAST NICOLAUS',
 'EAST PALO ALTO',
 'EASTVALE',
 'EDWARDS',
 'EL CAJON',
 'EL CENTRO',
 'EL CERRITO',
 'EL DORADO',
 'EL DORADO HILLS',
 'EL GRANADA',
 'EL MONTE',
 'EL NIDO',
 'EL SEGUNDO',
 'EL SOBRANTE',
 'ELK GROVE',
 'ELVERTA',
 'EMERALD HILLS',
 'EMERYVILLE',
 'EMPIRE',
 'ENCINITAS',
 'ENCINO',
 'ESCALON',
 'ESCONDIDO',
 'ESPARTO',
 'ETIWANDA',
 'ETNA',
 'EUREKA',
 'EXETER',
 'FAIR OAKS',
 'FAIRFAX',
 'FAIRFIELD',
 'FAIRIFELD',
 'FALL RIVER MILLS',
 'FALLBROOK',
 'FARMERSVILLE',
 'FARMINGTON',
 'FELTON',
 'FERNDALE',
 'FILLMORE',
 'FIREBAUGH',
 'FIVE POINTS',
 'FOLSOM',
 'FONTANA',
 'FOOTHILL RANCH',
 'FORESTHILL',
 'FORESTVILLE',
 'FORT BRAGG',
 'FORT IRWIN',
 'FORT JONES',
 'FORTUNA',
 'FOSTER CITY',
 'FOUNTAIN VALLEY',
 'FOWLER',
 'FRAZIER PARK',
 'FREEDOM',
 'FREMONT',
 'FRENCH CAMP',
 'FRESNO',
 'FULLERTON',
 'GALT',
 'GARDEN GROVE',
 'GARDEN VALLEY',
 'GARDENA',
 'GEORGETOWN',
 'GERBER',
 'GEYSERVILLE',
 'GILROY',
 'GLEN ELLEN',
 'GLENDALE',
 'GLENDORA',
 'GOLD RIVER',
 'GOLETA',
 'GONZALES',
 'GRANADA HILLS',
 'GRAND TERRACE',
 'GRANITE BAY',
 'GRASS VALLEY',
 'GREENFIELD',
 'GREENVILLE',
 'GRENADA',
 'GRIDLEY',
 'GROVELAND',
 'GROVER BEACH',
 'GUADALUPE',
 'GUERNEVILLE',
 'GUSTINE',
 'HACIENDA HEIGHTS',
 'HALF MOON BAY',
 'HAMILTON CITY',
 'HANFORD',
 'HAPPY CAMP',
 'HARBOR CITY',
 'HAWAIIAN GARDENS',
 'HAWTHORNE',
 'HAYFORK',
 'HAYWARD',
 'HEALDSBURG',
 'HEBER',
 'HELENDALE',
 'HEMET',
 'HERALD',
 'HERCULES',
 'HERMOSA BEACH',
 'HESPERIA',
 'HICKMAN',
 'HIGHLAND',
 'HIGHLAND PARK',
 'HILLSBOROUGH',
 'HILMAR',
 'HOLLISTER',
 'HOLLYWOOD',
 'HOLTVILLE',
 'HOOPA',
 'HUGHSON',
 'HUNTINGTON',
 'HUNTINGTON BEACH',
 'HUNTINGTON PARK',
 'HURON',
 'HYDESVILLE',
 'IDYLLWILD',
 'IMPERIAL',
 'IMPERIAL BEACH',
 'INDIAN WELLS',
 'INDIO',
 'INGLEWOOD',
 'INVERNESS',
 'INYOKERN',
 'IONE',
 'IRVINE',
 'IRWINDALE',
 'ISLETON',
 'IVANHOE',
 'JACKSON',
 'JAMESTOWN',
 'JAMUL',
 'JANESVILLE',
 'JOSHUA TREE',
 'JULIAN',
 'JURUPA VALLEY',
 'KELSEYVILLE',
 'KENSINGTON',
 'KENTFIELD',
 'KENWOOD',
 'KERMAN',
 'KERNVILLE',
 'KETTLEMAN CITY',
 'KEYES',
 'KING CITY',
 'KINGS BEACH',
 'KINGSBURG',
 'KLAMATH',
 'KNIGHTS FERRY',
 'KNIGHTS LANDING',
 'KNIGHTSEN',
 'LA CANADA',
 'LA CANADA FLINTRIDGE',
 'LA CAÑADA',
 'LA CRESCENTA',
 'LA HABRA',
 'LA HABRA HEIGHTS',
 'LA JOLLA',
 'LA MESA',
 'LA MIRADA',
 'LA PALMA',
 'LA PUENTE',
 'LA QUINTA',
 'LA SELVA BEACH',
 'LA VERNE',
 'LADERA RANCH',
 'LAFAYETTE',
 'LAGUNA BEACH',
 'LAGUNA HILLS',
 'LAGUNA NIGUEL',
 'LAGUNA WOODS',
 'LAKE ARROWHEAD',
 'LAKE BALBOA',
 'LAKE ELSINORE',
 'LAKE FOREST',
 'LAKE HUGHES',
 'LAKE ISABELLA',
 'LAKE MATHEWS',
 'LAKE VIEW TERRACE',
 'LAKEPORT',
 'LAKESIDE',
 'LAKEVIEW TERRACE',
 'LAKEWOOD',
 'LAMONT',
 'LANCASTER',
 'LANDERS',
 'LARKSPUR',
 'LATHROP',
 'LATON',
 'LAVERNE',
 'LAWNDALE',
 'LAYTONVILLE',
 'LE GRAND',
 'LEBEC',
 'LEMON COVE',
 'LEMON GROVE',
 'LEMOORE',
 'LENNOX',
 'LENWOOD',
 'LEUCADIA',
 'LINCOLN',
 'LINDEN',
 'LINDSAY',
 'LITCHFIELD',
 'LITTLEROCK',
 'LIVE OAK',
 'LIVERMORE',
 'LIVINGSTON',
 'LOCKEFORD',
 'LOCKWOOD',
 'LODI',
 'LOMA LINDA',
 'LOMITA',
 'LOMPOC',
 'LONE PINE',
 'LONG BEACH',
 'LOOMIS',
 'LOS ALAMITOS',
 'LOS ALAMOS',
 'LOS ALTOS',
 'LOS ALTOS HILLS',
 'LOS ANGELES',
 'LOS BANOS',
 'LOS FLORES',
 'LOS GATOS',
 'LOS MOLINOS',
 'LOS NIETOS',
 'LOS OLIVOS',
 'LOS OSOS',
 'LOST HILLS',
 'LOWER LAKE',
 'LOYALTON',
 'LUCERNE',
 'LUCERNE VALLEY',
 'LYNWOOD',
 'MADERA',
 'MADISON',
 'MAGALIA',
 'MALIBU',
 'MAMMOTH LAKES',
 'MANHATTAN BEACH',
 'MANTECA',
 'MAR VISTA',
 'MARICOPA',
 'MARIN CITY',
 'MARINA',
 'MARINA DEL REY',
 'MARIPOSA',
 'MARTINEZ',
 'MARYSVILLE',
 'MATHER',
 'MAXWELL',
 'MAYWOOD',
 'MC KINLEYVILLE',
 'MCARTHUR',
 'MCCLELLAN',
 'MCFARLAND',
 'MCKINLEYVILLE',
 'MEADOW VISTA',
 'MECCA',
 'MENDOCINO',
 'MENDOTA',
 'MENIFEE',
 'MENLO PARK',
 'MENTONE',
 'MERCED',
 'MERIDIAN',
 'MIDDLETOWN',
 'MIDWAY CITY',
 'MILL VALLEY',
 'MILLBRAE',
 'MILLVILLE',
 'MILPITAS',
 'MIRA LOMA',
 'MIRANDA',
 'MISSION HILLS',
 'MISSION VIEJO',
 'MODESTO',
 'MOFFETT FIELD',
 'MOJAVE',
 'MONROVIA',
 'MONTAGUE',
 'MONTARA',
 'MONTCLAIR',
 'MONTCLAIR,',
 'MONTE RIO',
 'MONTEBELLO',
 'MONTEREY',
 'MONTEREY PARK',
 'MONTROSE',
 'MOORPARK',
 'MORAGA',
 'MORENO VALLEY',
 'MORGAN HILL',
 'MORONGO VALLEY',
 'MORRO BAY',
 'MOUNT HERMON',
 'MOUNT SHASTA',
 'MOUNTAIN HOUSE',
 'MOUNTAIN VIEW',
 'MT. SHASTA',
 'MURPHYS',
 'MURRIETA',
 'MURRIETTA',
 'N. HOLLYWOOD',
 'N.A.S. LEMOORE',
 'NAPA',
 'NAS LEMOORE',
 'NATIONAL CITY',
 'NEEDLES',
 'NEVADA CITY',
 'NEW CUYAMA',
 'NEWARK',
 'NEWBERRY SPRINGS',
 'NEWBURY PARK',
 'NEWCASTLE',
 'NEWHALL',
 'NEWMAN',
 'NEWPORT BEACH',
 'NEWPORT COAST',
 'NIPOMO',
 'NORCO',
 'NORTH FORK',
 'NORTH HIGHLANDS',
 'NORTH HILLS',
 'NORTH HOLLYWOOD',
 'NORTH SHORE',
 'NORTH TUSTIN',
 'NORTHRIDGE',
 'NORWALK',
 'NOVATO',
 'NUEVO',
 "O'NEALS",
 'OAK PARK',
 'OAK VIEW',
 'OAKDALE',
 'OAKHURST',
 'OAKLAND',
 'OAKLEY',
 'OCCIDENTAL',
 'OCEANO',
 'OCEANSIDE',
 'OJAI',
 'OLIVEHURST',
 'ONTARIO',
 'ORANGE',
 'ORANGE COVE',
 'ORANGEVALE',
 'ORCUTT',
 'ORINDA',
 'ORLAND',
 'ORLEANS',
 'ORO GRANDE',
 'OROSI',
 'OROVILLE',
 'OXNARD',
 'PACIFIC GROVE',
 'PACIFIC PALISADES',
 'PACIFICA',
 'PACOIMA',
 'PACOMIA',
 'PALERMO',
 'PALM DESERT',
 'PALM SPRINGS',
 'PALMDALE',
 'PALO ALTO',
 'PALO CEDRO',
 'PALOS VERDES ESTATES',
 'PANORAM CITY',
 'PANORAMA CITY',
 'PARADISE',
 'PARAMOUNT',
 'PARLIER',
 'PASADENA',
 'PASO ROBLES',
 'PATTERSON',
 'PAUMA VALLEY',
 'PEARBLOSSOM',
 'PENN VALLEY',
 'PENNGROVE',
 'PENRYN',
 'PERRIS',
 'PESCADERO',
 'PETALUMA',
 'PETROLIA',
 'PHELAN',
 'PICO RIVERA',
 'PIEDMONT',
 'PINE GROVE',
 'PINE VALLEY',
 'PINEDALE',
 'PINOLE',
 'PINON HILLS',
 'PIONEER',
 'PIRU',
 'PISMO BEACH',
 'PITTSBURG',
 'PIXLEY',
 'PLACENTIA',
 'PLACERVILLE',
 'PLANADA',
 'PLAYA DEL REY',
 'PLAYA VISTA',
 'PLEASANT GROVE',
 'PLEASANT HILL',
 'PLEASANTON',
 'PLUMAS LAKE',
 'PLYMOUTH',
 'POINT ARENA',
 'POLLOCK PINES',
 'POMONA',
 'PORT HUENEME',
 'PORTER RANCH',
 'PORTERVILLE',
 'PORTOLA',
 'PORTOLA VALLEY',
 'POTRERO',
 'POTTER VALLEY',
 'POWAY',
 'PRATHER',
 'PT. REYES STATION',
 'QUAIL VALLEY',
 'QUARTZ HILL',
 'QUINCY',
 'RAINBOW',
 'RAISIN CITY',
 'RAMONA',
 'RANCHO CORDOVA',
 'RANCHO CUCAMONGA',
 'RANCHO DOMINGUEZ',
 'RANCHO MIRAGE',
 'RANCHO PALOS VERDES',
 'RANCHO SANTA FE',
 'RANCHO SANTA MARGARITA',
 'RED BLUFF',
 'REDDING',
 'REDLANDS',
 'REDONDO BEACH',
 'REDWAY',
 'REDWOOD CITY',
 'REDWOOD VALLEY',
 'REEDLEY',
 'RESCUE',
 'RESEDA',
 'RIALTO',
 'RICHGROVE',
 'RICHMOND',
 'RIDGECREST',
 'RIO DELL',
 'RIO LINDA',
 'RIO VISTA',
 'RIPON',
 'RIVERBANK',
 'RIVERDALE',
 'RIVERSIDE',
 'ROCKLIN',
 'RODEO',
 'ROHNERT PARK',
 'ROLLING HILLS ESTATE',
 'ROLLING HILLS ESTATES',
 'ROMOLAND',
 'ROSAMOND',
 'ROSEMEAD',
 'ROSEVILLE',
 'ROSS',
 'ROSSMOOR',
 'ROWLAND HEIGHTS',
 'RUNNING SPRINGS',
 'RUTHERFORD',
 'S. LAKE TAHOE',
 'SACRAMENTO',
 'SALIDA',
 'SALINAS',
 'SALTON CITY',
 'SAN ANDREAS',
 'SAN ANSELMO',
 'SAN BERNARDINO',
 'SAN BRUNO',
 'SAN CARLOS',
 'SAN CLEMENTE',
 'SAN DIEGO',
 'SAN DIMAS',
 'SAN FERNANDO',
 'SAN FRANCISCO',
 'SAN GABRIEL',
 'SAN GERONIMO',
 'SAN JACINTO',
 'SAN JOAQUIN',
 'SAN JOSE',
 'SAN JUAN BAUTISTA',
 'SAN JUAN CAPISTRANO',
 'SAN LEANDRO',
 'SAN LORENZO',
 'SAN LUIS OBISPO',
 'SAN MARCOS',
 'SAN MARINO',
 'SAN MARTIN',
 'SAN MATEO',
 'SAN MIGUEL',
 'SAN PABLO',
 'SAN PEDRO',
 'SAN RAFAEL',
 'SAN RAMON',
 'SAN YSIDRO',
 'SANGER',
 'SANTA ANA',
 'SANTA BARBARA',
 'SANTA CATALINA',
 'SANTA CLARA',
 'SANTA CLARITA',
 'SANTA CRUZ',
 'SANTA FE SPRINGS',
 'SANTA MARGARITA',
 'SANTA MARIA',
 'SANTA MONICA',
 'SANTA NELLA',
 'SANTA PAULA',
 'SANTA ROSA',
 'SANTA YNEZ',
 'SANTEE',
 'SARATOGA',
 'SAUGUS',
 'SAUSALITO',
 'SCOTIA',
 'SCOTTS VALLEY',
 'SEAL BEACH',
 'SEASIDE',
 'SEBASTOPOL',
 'SEELEY',
 'SELMA',
 'SEPULVEDA',
 'SHAFTER',
 'SHANDON',
 'SHASTA',
 'SHASTA LAKE',
 'SHASTA LAKE CITY',
 'SHERMAN OAKS',
 'SHINGLE SPRINGS',
 'SHINGLETOWN',
 'SIERRA MADRE',
 'SIGNAL HILL',
 'SILVERADO',
 'SILVERADO CANYON',
 'SIMI VALLEY',
 'SLOUGHHOUSE',
 'SMITH RIVER',
 'SOLANA BEACH',
 'SOLEDAD',
 'SOLVANG',
 'SOMERSET',
 'SOMIS',
 'SONOMA',
 'SONORA',
 'SOQUEL',
 'SOULSBYVILLE',
 'SOUTH EL MONTE',
 'SOUTH GATE',
 'SOUTH LAKE TAHOE',
 'SOUTH LATE TAHOE',
 'SOUTH PASADENA',
 'SOUTH SAN FRANCISCO',
 'SOUTH SAN FRANCISOC',
 'SOUTH SAN GABRIEL',
 'SOUTH WHITTIER',
 'SPRECKELS',
 'SPRECKLES',
 'SPRING VALLEY',
 'SPRINGVILLE',
 'ST. HELENA',
 'STANFORD',
 'STANTON',
 'STEVENSON RANCH',
 'STEVINSON',
 'STOCKTON',
 'STRATFORD',
 'STRATHMORE',
 'STUDIO CITY',
 'SUGARLOAF',
 'SUISUN',
 'SUISUN CITY',
 'SUN CITY',
 'SUN VALLEY',
 'SUNLAND',
 'SUNNYVALE',
 'SUNOL',
 'SUNSET BEACH',
 'SUSANVILLE',
 'SUTTER',
 'SUTTER CREEK',
 'SYLMAR',
 'TAFT',
 'TAHOE CITY',
 'TARZANA',
 'TEHACHAPI',
 'TEHAMA',
 'TEMECULA',
 'TEMPLE CITY',
 'TEMPLETON',
 'TERMO',
 'TERRA BELLA',
 'THERMAL',
 'THORNTON',
 'THOUSAND OAKS',
 'THOUSAND PALMS',
 'TIBURON',
 'TIPTON',
 'TOLLHOUSE',
 'TOMALES',
 'TOPANGA',
 'TORRANCE',
 'TRABUCO CANYON',
 'TRACY',
 'TRANQUILLITY',
 'TRAVER',
 'TRAVIS AFB',
 'TRINIDAD',
 'TRONA',
 'TRUCKEE',
 'TUJUNGA',
 'TULARE',
 'TULE RESERVATION',
 'TULELAKE',
 'TUOLUMNE',
 'TURLOCK',
 'TURLOCK,',
 'TUSTIN',
 'TWAIN HARTE',
 'TWENTYNINE PALMS',
 'TWIN PEAKS',
 'UKIAH',
 'UNION CITY',
 'UPLAND',
 'UPPER LAKE',
 'UPPERLAKE',
 'VACAVILLE',
 'VALENCIA',
 'VALINDA',
 'VALLEJO',
 'VALLEY CENTER',
 'VALLEY GLEN',
 'VALLEY HOME',
 'VALLEY SPRINGS',
 'VALLEY VILLAGE',
 'VAN NUYS',
 'VANDENBERG AFB',
 'VANDENBERG AIR FORCE BASE',
 'VENICE',
 'VENTURA',
 'VICTORVILLE',
 'VILLA PARK',
 'VISALIA',
 'VISTA',
 'W. SACRAMENTO',
 'WALNUT',
 'WALNUT CREEK',
 'WALNUT CREET',
 'WALNUT GROVE',
 'WALNUT PARK',
 'WALNUT VALLEY',
 'WARNER SPRINGS',
 'WASCO',
 'WATERFORD',
 'WATSONVILLE',
 'WEAVERVILLE',
 'WEED',
 'WEIMAR',
 'WELDON',
 'WEST COVINA',
 'WEST HILLS',
 'WEST HOLLYWOOD',
 'WEST SACRAMENTO',
 'WESTCHESTER',
 'WESTLAKE VILLAGE',
 'WESTLEY',
 'WESTMINSTER',
 'WESTMORLAND',
 'WESTWOOD',
 'WHEATLAND',
 'WHITTIER',
 'WILDOMAR',
 'WILLIAMS',
 'WILLITS',
 'WILLOW CREEK',
 'WILLOWS',
 'WILMINGTON',
 'WILTON',
 'WINCHESTER',
 'WINDSOR',
 'WINNETKA',
 'WINTERHAVEN',
 'WINTERS',
 'WINTON',
 'WOODLAKE',
 'WOODLAND',
 'WOODLAND HILLS',
 'WOODSIDE',
 'WOODVILLE',
 'WRIGHTWOOD',
 'YERMO',
 'YORBA LINDA',
 'YOUNTVILLE',
 'YREKA',
 'YUBA CITY',
 'YUCAIPA',
 'YUCCA VALLEY']

In [20]:
# Fix City Typos
vac_1617.loc[vac_1617.CITY=='ACTON, CA', 'CITY']='ACTON'
vac_1617.loc[vac_1617.CITY=='AGOURA', 'CITY']='AGOURA HILLS'
vac_1617.loc[vac_1617.CITY=='ANAHEIM,', 'CITY']='ANAHEIM'
vac_1617.loc[vac_1617.CITY=='ANANHEIM,', 'CITY']='ANAHEIM'
vac_1617.loc[vac_1617.CITY=='CA', 'CITY']='NAPA'
vac_1617.loc[vac_1617.CITY=='BEALE AIR FORCE BASE', 'CITY']='BEALE AFB' # to match census name
vac_1617.loc[vac_1617.CITY=='BENICA', 'CITY']='BENICIA'
vac_1617.loc[vac_1617.CITY=='CARDIFF', 'CITY']='CARDIFF BY THE SEA'
vac_1617.loc[vac_1617.CITY=='CARMEL', 'CITY']='CARMEL VALLEY'
vac_1617.loc[vac_1617.CITY=='CHINO,', 'CITY']='CHINO'
vac_1617.loc[vac_1617.CITY=='CHULAR', 'CITY']='CHUALAR'
vac_1617.loc[vac_1617.CITY=='CITY OF COMMERCE', 'CITY']='COMMERCE'
vac_1617.loc[vac_1617.CITY=='CITY OF INDUSTRY', 'CITY']='INDUSTRY'
vac_1617.loc[vac_1617.CITY=='CUDAHAY', 'CITY']='CUDAHY'
vac_1617.loc[vac_1617.CITY=='E. NICOLAUS', 'CITY']='EAST NICOLAUS'
vac_1617.loc[vac_1617.CITY=='E. RANCHO DOMINGUEZ', 'CITY']='EAST RANCHO DOMINGUEZ'
vac_1617.loc[vac_1617.CITY=='E RANCHO DOMINGUEZ', 'CITY']='EAST RANCHO DOMINGUEZ'
vac_1617.loc[vac_1617.CITY=='E. WHITTIER', 'CITY']='EAST WHITTIER'
vac_1617.loc[vac_1617.CITY=='EL SEGUNDO,', 'CITY']='EL SEGUNDO'
vac_1617.loc[vac_1617.CITY=='FAIRIFELD', 'CITY']='FAIRFIELD'
vac_1617.loc[vac_1617.CITY=='FREMOTN', 'CITY']='FREMONT'
vac_1617.loc[vac_1617.CITY=='FT. IRWIN', 'CITY']='FORT IRWIN'
vac_1617.loc[vac_1617.CITY=='GREENFILED', 'CITY']='GREENFIELD'
vac_1617.loc[vac_1617.CITY=='HUNTINGTON', 'CITY']='HUNTINGTON PARK'
vac_1617.loc[vac_1617.CITY=='JAMUAL', 'CITY']='JAMUL'
vac_1617.loc[vac_1617.CITY=='LA', 'CITY']='LOS ANGELES'
vac_1617.loc[vac_1617.CITY=='LA CANADA', 'CITY']='LA CANADA FLINTRIDGE'
vac_1617.loc[vac_1617.CITY=='LA CAÃ\x91ADA', 'CITY']='LA CANADA FLINTRIDGE'
vac_1617.loc[vac_1617.CITY=='LA CAÃ\x83â\x80\x98ADA', 'CITY']='LA CANADA FLINTRIDGE'
vac_1617.loc[vac_1617.CITY=='LA CRESCENTA', 'CITY']='LA CRESCENTA-MONTROSE'
vac_1617.loc[vac_1617.CITY=='LAKE VIEW TERRANCE', 'CITY']='LAKE VIEW TERRACE'
vac_1617.loc[vac_1617.CITY=='LAKEVIEW TERRACE', 'CITY']='LAKE VIEW TERRACE'
vac_1617.loc[vac_1617.CITY=='LANCASTER,', 'CITY']='LANCASTER'
vac_1617.loc[vac_1617.CITY=='LAVERNE', 'CITY']='LA VERNE'
vac_1617.loc[vac_1617.CITY=='MC KINLEYVILLE', 'CITY']='MCKINLEYVILLE'
vac_1617.loc[vac_1617.CITY=='MONTROSE', 'CITY']='LA CRESCENTA-MONTROSE'
vac_1617.loc[vac_1617.CITY=='MT. SHASTA', 'CITY']='MOUNT SHASTA'
vac_1617.loc[vac_1617.CITY=='N. HOLLYWOOD', 'CITY']='NORTH HOLLYWOOD'
vac_1617.loc[vac_1617.CITY=='N.A.S. LEMOORE', 'CITY']='LEMOORE STATION' # match census
vac_1617.loc[vac_1617.CITY=='NAS LEMOORE', 'CITY']='LEMOORE STATION'
vac_1617.loc[vac_1617.CITY=='NEWPORT BEACH,', 'CITY']='NEWPORT BEACH'
vac_1617.loc[vac_1617.CITY=='PACOMIA', 'CITY']='PACOIMA'
vac_1617.loc[vac_1617.CITY=='PANORAM ', 'CITY']='PANORAMA CITY'
vac_1617.loc[vac_1617.CITY=='PANORAM CITY', 'CITY']='PANORAMA CITY'
vac_1617.loc[vac_1617.CITY=='PT. REYES STATION', 'CITY']='POINT REYES STATION'
vac_1617.loc[vac_1617.CITY=='RANCHO SANTA MARGARI', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHO SAN MARGARITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHO STA MARGAITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHO STA MARGARITA', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RCHO STA MARG', 'CITY']='RANCHO SANTA MARGARITA'
vac_1617.loc[vac_1617.CITY=='RANCHOS PALOS VERDES', 'CITY']='RANCHO PALOS VERDES'
vac_1617.loc[vac_1617.CITY=='RIVERSIDE,', 'CITY']='RIVERSIDE'
vac_1617.loc[vac_1617.CITY=='ROLLING HILLS ESTATE', 'CITY']='ROLLING HILLS ESTATES'
vac_1617.loc[vac_1617.CITY=='S. EL MONTE', 'CITY']='SOUTH EL MONTE'
vac_1617.loc[vac_1617.CITY=='S. LAKE TAHOE', 'CITY']='SOUTH LAKE TAHOE'
vac_1617.loc[vac_1617.CITY=='S PASADENA', 'CITY']='SOUTH PASADENA'
vac_1617.loc[vac_1617.CITY=='SAN BERARDINO', 'CITY']='SAN BERNARDINO'
vac_1617.loc[vac_1617.CITY=='SAN FRNCISCO', 'CITY']='SAN FRANCISCO'
vac_1617.loc[vac_1617.CITY=='SAN JOSE,', 'CITY']='SAN JOSE'
vac_1617.loc[vac_1617.CITY=='SANTA BARARA', 'CITY']='SANTA BARBARA'
vac_1617.loc[vac_1617.CITY=='SHASTA LAKE CITY', 'CITY']='SHASTA LAKE'
vac_1617.loc[vac_1617.CITY=='SILVERADO CANYON', 'CITY']='SILVERADO'
vac_1617.loc[vac_1617.CITY=='SOUTH LATE TAHOE', 'CITY']='SOUTH LAKE TAHOE'
vac_1617.loc[vac_1617.CITY=='SPRECKLES', 'CITY']='SPRECKELS'
vac_1617.loc[vac_1617.CITY=='STEVENSONS RANCH', 'CITY']='STEVENSON RANCH'
vac_1617.loc[vac_1617.CITY=='SUISUN', 'CITY']='SUISUN CITY'
vac_1617.loc[vac_1617.CITY=='SUNNYALE', 'CITY']='SUNNYVALE'
vac_1617.loc[vac_1617.CITY=='SUPELVEDA', 'CITY']='SEPULVEDA'
vac_1617.loc[vac_1617.CITY=='TURLOCK,', 'CITY']='TURLOCK'
vac_1617.loc[vac_1617.CITY=='UPPERLAKE', 'CITY']='UPPER LAKE'
vac_1617.loc[vac_1617.CITY=='VANDENBERG AIR FORCE BASE', 'CITY']='VANDENBERG AFB' # match census
vac_1617.loc[vac_1617.CITY=='W. SACRAMENTO', 'CITY']='WEST SACRAMENTO'
vac_1617.loc[vac_1617.CITY=='WEST LOS ANGELES', 'CITY']='LOS ANGELES'

vac_1617.loc[vac_1617.COUNTY=='BERKELEY CITY', 'COUNTY']='ALAMEDA'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [21]:
# Change case to title case
vac_1617.COUNTY=vac_1617['COUNTY'].str.title()
vac_1617.CITY=vac_1617['CITY'].str.title()

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [22]:
# RECODE NEIGHBORHOODS TO CITIES to match Census
vac_1617.loc[vac_1617.CITY=='Alta Loma', 'CITY']='Rancho Cucamonga'
vac_1617.loc[vac_1617.CITY=='Alviso', 'CITY']='San Jose'
vac_1617.loc[vac_1617.CITY=='Anaheim Hills', 'CITY']='Anaheim'
vac_1617.loc[vac_1617.CITY=='Angels Camp', 'CITY']='Angels'
vac_1617.loc[vac_1617.CITY=='Arleta', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Canoga Park', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Canyon Country', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Capistrano Beach', 'CITY']='Dana Point'
vac_1617.loc[vac_1617.CITY=='Cardiff By The Sea', 'CITY']='Encinitas'
vac_1617.loc[vac_1617.CITY=='Carmel Valley', 'CITY']='Carmel Valley Village'
vac_1617.loc[vac_1617.CITY=='Chatsworth', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Corona Del Mar', 'CITY']='Newport Beach'
vac_1617.loc[vac_1617.CITY=='Edwards', 'CITY']='Edwards AFB'
vac_1617.loc[vac_1617.CITY=='Emerald Hills', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Encino', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Etiwanda', 'CITY']='Rancho Cucamonga'
vac_1617.loc[vac_1617.CITY=='Foothill Ranch', 'CITY']='Lake Forest'
vac_1617.loc[vac_1617.CITY=='Granada Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Harbor City', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Highland Park', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Hollywood', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Idyllwild', 'CITY']='Idyllwild-Pine Cove'
vac_1617.loc[vac_1617.CITY=='La Jolla', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Lake Balboa', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Lake View Terrace', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Leucadia', 'CITY']='Encinitas'
vac_1617.loc[vac_1617.CITY=='Mar Vista', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Mcclellan', 'CITY']='North Highlands'
vac_1617.loc[vac_1617.CITY=='Mira Loma', 'CITY']='Jurupa Valley'
vac_1617.loc[vac_1617.CITY=='Murrietta', 'CITY']='Murrieta'
vac_1617.loc[vac_1617.CITY=='Newbury Park', 'CITY']='Thousand Oaks'
vac_1617.loc[vac_1617.CITY=='Newhall', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='North Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='North Hollywood', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Northridge', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Olympic Valley', 'CITY']='Squaw Valley'
vac_1617.loc[vac_1617.CITY=='Pacific Palisades', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Pacoima', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Palos Verdes', 'CITY']='Palos Verdes Estates'
vac_1617.loc[vac_1617.CITY=='Palos Verdes Peninsula', 'CITY']='Palos Verdes Estates'
vac_1617.loc[vac_1617.CITY=='Panorama City', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Playa Del Rey', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Playa Vista', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Porter Ranch', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Quail Valley', 'CITY']='Menifee'
vac_1617.loc[vac_1617.CITY=='Reseda', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='San Pedro', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='San Ysidro', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Santa Catalina', 'CITY']='Avalon'
vac_1617.loc[vac_1617.CITY=='Saugus', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Sepulveda', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Sherman Oaks', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Studio City', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Sun City', 'CITY']='Menifee'
vac_1617.loc[vac_1617.CITY=='Sun Valley', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Sunland', 'CITY']='Sunland-Tujunga'
vac_1617.loc[vac_1617.CITY=='Sunset Beach', 'CITY']='Huntington Beach'
vac_1617.loc[vac_1617.CITY=='Sylmar', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Royal Oaks', 'CITY']='Interlaken'
vac_1617.loc[vac_1617.CITY=='Tahoe City', 'CITY']='Sunnyside-Tahoe City'
vac_1617.loc[vac_1617.CITY=='Tarzana', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Tujunga', 'CITY']='Sunland-Tujunga'
vac_1617.loc[vac_1617.CITY=='Tuolumne', 'CITY']='Tuolumne City'
vac_1617.loc[vac_1617.CITY=='Twenty Nine Palms', 'CITY']='Twentynine Palms'
vac_1617.loc[vac_1617.CITY=='Valencia', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Valley Glen', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Valley Village', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Van Nuys', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Venice', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Ventura', 'CITY']="San Buenaventura (Ventura)"
vac_1617.loc[vac_1617.CITY=='Walnut Creet', 'CITY']='Walnut Creek'
vac_1617.loc[vac_1617.CITY=='Walnut Valley', 'CITY']='Walnut'
vac_1617.loc[vac_1617.CITY=='West Hills', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Westchester', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Westminister', 'CITY']='Westminster'
vac_1617.loc[vac_1617.CITY=='Wilmington', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Winnetka', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Woodland Hills', 'CITY']='Los Angeles'

vac_1617.loc[vac_1617.CITY=='Angels City', 'CITY']='Angels'
vac_1617.loc[vac_1617.CITY=='Cardiff-By-The-Sea', 'CITY']='Encinitas'
vac_1617.loc[vac_1617.CITY=='Davis,', 'CITY']='Davis'
vac_1617.loc[vac_1617.CITY=='La Cañada', 'CITY']='La Canada Flintridge'
vac_1617.loc[vac_1617.CITY=='La Canada', 'CITY']='La Canada Flintridge'
vac_1617.loc[vac_1617.CITY=='Los Nietos', 'CITY']='West Whittier-Los Nietos'
vac_1617.loc[vac_1617.CITY=='Montclair,', 'CITY']='Montclair'
vac_1617.loc[vac_1617.CITY=='Newport Coast', 'CITY']='Newport Coast'
vac_1617.loc[vac_1617.CITY=='South San Francisoc', 'CITY']='South San Francisco'
vac_1617.loc[vac_1617.CITY=='Sunland-Tujunga', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Arcata Ca', 'CITY']='Arcata'
vac_1617.loc[vac_1617.CITY=='Berkeley Ave', 'CITY']='Berkeley'
vac_1617.loc[vac_1617.CITY=='Camp Pendelton', 'CITY']='Camp Pendleton North'
vac_1617.loc[vac_1617.CITY=='Carmicheal', 'CITY']='Carmichael'
vac_1617.loc[vac_1617.CITY=='Laguan Niguel', 'CITY']='Laguna Niguel'
vac_1617.loc[vac_1617.CITY=='Laguna Niguel Ste 3409', 'CITY']='Laguna Niguel'
vac_1617.loc[vac_1617.CITY=='Lapuente', 'CITY']='La Puente'
vac_1617.loc[vac_1617.CITY=='Las Flores', 'CITY']='Las Flores'
vac_1617.loc[vac_1617.CITY=='Mt. View', 'CITY']='Mountain View'
vac_1617.loc[vac_1617.CITY=='Mision Viejo', 'CITY']='Mission Viejo'
vac_1617.loc[vac_1617.CITY=='S Lake Tahoe', 'CITY']='South Lake Tahoe'
vac_1617.loc[vac_1617.CITY=='Saint Helena', 'CITY']='St. Helena'
vac_1617.loc[vac_1617.CITY=='Santa Clara Ca', 'CITY']='Santa Clara'
vac_1617.loc[vac_1617.CITY=='St Helena', 'CITY']='St. Helena'
vac_1617.loc[vac_1617.CITY=='St Helena', 'CITY']='St. Helena'
vac_1617.loc[vac_1617.CITY=='Stantan', 'CITY']='Stanton'
vac_1617.loc[vac_1617.CITY=='Stinson', 'CITY']='Stinson Beach'

vac_1617.loc[vac_1617.CITY=='Vandenberg Afb', 'CITY']='Vandenberg AFB'
vac_1617.loc[vac_1617.CITY=='Travis Afb', 'CITY']='Travis AFB'
vac_1617.loc[vac_1617.CITY=='Beale Afb', 'CITY']='Beale AFB'

vac_1617.loc[vac_1617.CITY=='"Avalon, Catalina Isl"', 'CITY']='Avalon'
vac_1617.loc[vac_1617.CITY=='"Beale Afb, Ca"', 'CITY']='Beale AFB'
vac_1617.loc[vac_1617.CITY=='"Menifee, Ca"', 'CITY']='Menifee'
vac_1617.loc[vac_1617.CITY=='"Palm Springs, Ca"', 'CITY']='Palm Springs'
vac_1617.loc[vac_1617.CITY=='Aliso Viejo, Ca.', 'CITY']='Aliso Viejo'
vac_1617.loc[vac_1617.CITY=='Avalon, Catalina Isl', 'CITY']='Avalon'
vac_1617.loc[vac_1617.CITY=='Beale Afb, Ca', 'CITY']='Beale AFB'
vac_1617.loc[vac_1617.CITY=='Camarilla', 'CITY']='Camarillo'
vac_1617.loc[vac_1617.CITY=='Camp Pendleton', 'CITY']='Camp Pendleton North'
vac_1617.loc[vac_1617.CITY=='Capinteria', 'CITY']='Carpinteria'
vac_1617.loc[vac_1617.CITY=='Carpenteria', 'CITY']='Carpinteria'
vac_1617.loc[vac_1617.CITY=='Castic', 'CITY']='Castaic'
vac_1617.loc[vac_1617.CITY=='Clear Lake', 'CITY']='Clearlake'
vac_1617.loc[vac_1617.CITY=='Coto De Caza', 'CITY']='Coto de Caza'
vac_1617.loc[vac_1617.CITY=='E. Palo Alto', 'CITY']='East Palo Alto'
vac_1617.loc[vac_1617.CITY=='El Sobrante', 'CITY']='El Sobrante (Contra Costa County)'
vac_1617.loc[vac_1617.CITY=='Fairfield Ca', 'CITY']='Fairfield'
vac_1617.loc[vac_1617.CITY=='Firebaugh Ca', 'CITY']='Firebaugh'
vac_1617.loc[vac_1617.CITY=='Fort Dick', 'CITY']='Fort Dick'
vac_1617.loc[vac_1617.CITY=='Ft Irwin', 'CITY']='Fort Irwin'
vac_1617.loc[vac_1617.CITY=='Grover City', 'CITY']='Grover Beach'
vac_1617.loc[vac_1617.CITY=='Hoopa', 'CITY']='Hoopa'
vac_1617.loc[vac_1617.CITY=='Hunington Beach', 'CITY']='Huntington Beach'
vac_1617.loc[vac_1617.CITY=='Huntington Beach', 'CITY']='Huntington Beach'
vac_1617.loc[vac_1617.CITY=="King'S Beach", 'CITY']='Kings Beach'
vac_1617.loc[vac_1617.CITY=='Ladrea Ranch', 'CITY']='Ladera Ranch'
vac_1617.loc[vac_1617.CITY=='Lancaster, Ca', 'CITY']='Lancaster'
vac_1617.loc[vac_1617.CITY=='Las Flores', 'CITY']='Las Flores'
vac_1617.loc[vac_1617.CITY=='Lemore Nas', 'CITY']='Lemoore'
vac_1617.loc[vac_1617.CITY=='Long Beach', 'CITY']='Long Beach'
vac_1617.loc[vac_1617.CITY=='Los Alto Hills', 'CITY']='Los Altos Hills'
vac_1617.loc[vac_1617.CITY=='Los Angeles, Ca', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Los Flores', 'CITY']='Las Flores (Orange County)'
vac_1617.loc[vac_1617.CITY=='Marina Del Rey', 'CITY']='Marina del Rey'
vac_1617.loc[vac_1617.CITY=='Mcarthur', 'CITY']='McArthur'
vac_1617.loc[vac_1617.CITY=='Mccloud', 'CITY']='McCloud'
vac_1617.loc[vac_1617.CITY=='Mcfarland', 'CITY']='McFarland'
vac_1617.loc[vac_1617.CITY=='Mckinleyville', 'CITY']='McKinleyville'
vac_1617.loc[vac_1617.CITY=='Mckittrick', 'CITY']='McKittrick'
vac_1617.loc[vac_1617.CITY=='Menifee, Ca', 'CITY']='Menifee'
vac_1617.loc[vac_1617.CITY=='Mountain Veiw', 'CITY']='Mountain View'
vac_1617.loc[vac_1617.CITY=='Mountian View', 'CITY']='Mountain View'
vac_1617.loc[vac_1617.CITY=='Mt Shasta', 'CITY']='Mount Shasta'
vac_1617.loc[vac_1617.CITY=='Newport Coast', 'CITY']='Newport Coast'
vac_1617.loc[vac_1617.CITY=='No. Hollywood', 'CITY']='North Hollywood'
vac_1617.loc[vac_1617.CITY=='Northrige', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Onatrio', 'CITY']='Ontario'
vac_1617.loc[vac_1617.CITY=='Pala', 'CITY']='Pala'
vac_1617.loc[vac_1617.CITY=='Palm Springs, Ca', 'CITY']='Palm Springs'
vac_1617.loc[vac_1617.CITY=='Palmdale,', 'CITY']='Palmdale'
vac_1617.loc[vac_1617.CITY=='Palos Verdes Peninsu', 'CITY']='Palos Verdes Estates'
vac_1617.loc[vac_1617.CITY=='Poplar', 'CITY']='Poplar-Cotton Center'
vac_1617.loc[vac_1617.CITY=='Presidio Of Sf', 'CITY']='San Francisco'
vac_1617.loc[vac_1617.CITY=='Rancho Bernardo', 'CITY']='San Diego'
vac_1617.loc[vac_1617.CITY=='Rolling Hills Est.', 'CITY']='Rolling Hills Estates'
vac_1617.loc[vac_1617.CITY=='Sacramento, Ca', 'CITY']='Sacramento'
vac_1617.loc[vac_1617.CITY=='San Bernadino', 'CITY']='San Bernadino'
vac_1617.loc[vac_1617.CITY=='San Miguel', 'CITY']='San Miguel'
vac_1617.loc[vac_1617.CITY=='Santa Barbra', 'CITY']='Santa Barbara'
vac_1617.loc[vac_1617.CITY=='Simi Valley', 'CITY']='Simi Valley'
vac_1617.loc[vac_1617.CITY=='So. Lake Tahoe', 'CITY']='South Lake Tahoe'
vac_1617.loc[vac_1617.CITY=='So. San Francisco', 'CITY']='South San Francisco'
vac_1617.loc[vac_1617.CITY=='Spring Valley', 'CITY']='Spring Valley'
vac_1617.loc[vac_1617.CITY=='Stevenson', 'CITY']='Stevenson Ranch'
vac_1617.loc[vac_1617.CITY=='Thousand Oak', 'CITY']='Thousand Oaks'
vac_1617.loc[vac_1617.CITY=='Tranquility', 'CITY']='Tranquillity'
vac_1617.loc[vac_1617.CITY=='Travis AFB', 'CITY']='Fairfield'
vac_1617.loc[vac_1617.CITY=='W. Hollywood', 'CITY']='West Hollywood'
vac_1617.loc[vac_1617.CITY=='West Los Angeles', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Westlake', 'CITY']='Westlake Village'
vac_1617.loc[vac_1617.CITY=='Westminter', 'CITY']='Westminster'
vac_1617.loc[vac_1617.CITY=='Yermo', 'CITY']='Yermo'

vac_1617.loc[vac_1617.CITY=='El Sobrante', 'CITY']='El Sobrante (Contra Costa County)'
vac_1617.loc[vac_1617.CITY=='Las Flores', 'CITY']='Las Flores (Orange County)'
vac_1617.loc[vac_1617.CITY=='Los Nietos', 'CITY']='West Whittier-Los Nietos'
vac_1617.loc[vac_1617.CITY=='West Whittier', 'CITY']='West Whittier-Los Nietos'
vac_1617.loc[vac_1617.CITY=='Paso Robles', 'CITY']='El Paso de Robles (Paso Robles)'
vac_1617.loc[vac_1617.CITY=='El Paso de Robles', 'CITY']='El Paso de Robles (Paso Robles)'
vac_1617.loc[vac_1617.CITY=='Piñon Hills', 'CITY']='Pinon Hills'
vac_1617.loc[vac_1617.CITY=='San Miguel', 'CITY']='San Miguel (San Luis Obispo County)'
vac_1617.loc[vac_1617.CITY=='Spring Valley', 'CITY']='Spring Valley (San Diego County)'

# Fix more typos
vac_1617.loc[vac_1617.CITY=='Ananheim', 'CITY']='Anaheim'
vac_1617.loc[vac_1617.CITY=='Costa Mesa,', 'CITY']='Costa Mesa'
vac_1617.loc[vac_1617.CITY=='Paso Robles', 'CITY']='El Paso De Robles (Paso Robles)'
vac_1617.loc[vac_1617.CITY=='El Paso de Robles', 'CITY']='El Paso De Robles (Paso Robles)'
vac_1617.loc[vac_1617.CITY=='Chasworth', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Huntington  Beach', 'CITY']='Huntington Beach'
vac_1617.loc[vac_1617.CITY=='Long  Beach', 'CITY']='Long Beach'
vac_1617.loc[vac_1617.CITY=='Mt Baldy', 'CITY']='Mount Baldy'
vac_1617.loc[vac_1617.CITY=='Mt. Baldy', 'CITY']='Mount Baldy'
vac_1617.loc[vac_1617.CITY=='North Hollywood', 'CITY']='Los Angeles'
vac_1617.loc[vac_1617.CITY=='Oneals', 'CITY']="O'Neals"
vac_1617.loc[vac_1617.CITY=='Canyon County', 'CITY']='Santa Clarita'
vac_1617.loc[vac_1617.CITY=='Coaresgold', 'CITY']='Coarsegold'
vac_1617.loc[vac_1617.CITY=='El Toro', 'CITY']='Lake Forest'
vac_1617.loc[vac_1617.CITY=='Herber', 'CITY']='Heber'
vac_1617.loc[vac_1617.CITY=='Hespera', 'CITY']='Hesperia'
vac_1617.loc[vac_1617.CITY=='Los Oso', 'CITY']='Los Osos'
vac_1617.loc[vac_1617.CITY=='Newport Coast', 'CITY']='Newport Beach'
vac_1617.loc[vac_1617.CITY=='Pinedale', 'CITY']='Fresno'
vac_1617.loc[vac_1617.CITY=='Rancho Tehema', 'CITY']='Rancho Tehama Reserve'
vac_1617.loc[vac_1617.CITY=='Redding ', 'CITY']='Redding'
vac_1617.loc[vac_1617.CITY=='Riversidty', 'CITY']='Riverside'
vac_1617.loc[vac_1617.CITY=='San Bernadino', 'CITY']='San Bernardino'
vac_1617.loc[vac_1617.CITY=='Simi  Valley', 'CITY']='Simi Valley'
vac_1617.loc[vac_1617.CITY=='Hilmar', 'CITY']='Hilmar-Irwin'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [23]:
vac_1617.rename(columns={'COUNTY': 'county',
                         'CITY': 'city',
                         'FACILITY_NUMBER': 'facility_num',
                         'FACILITY_NAME':'facility_name',
                         'pub_priv_headstart':'is_public',
                         'ENROLLMENT': 'enrollment',
                         'REPORTED': 'reported'
                        }, inplace=True)

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [24]:
# Clean up vac_info_type to be the same as other files
vac_1617.loc[vac_1617.vac_info_type=='7th grade', 'vac_info_type']='7thGradeData'
vac_1617.loc[vac_1617.vac_info_type=='childcare', 'vac_info_type']='ChildCareData'
vac_1617.loc[vac_1617.vac_info_type=='kindergarten', 'vac_info_type']='KindergartenData'

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [25]:
#Get count of students vaccinated by county,city and grade
vac_n=vac_1617.groupby(by=['county','city','vac_info_type'], as_index=False)['n'].sum()
vac_n

       county             city     vac_info_type     n
0     Alameda          Alameda      7thGradeData   966
1     Alameda          Alameda     ChildCareData  1198
2     Alameda          Alameda  KindergartenData   972
3     Alameda           Albany      7thGradeData   310
4     Alameda           Albany     ChildCareData   211
5     Alameda           Albany  KindergartenData   281
6     Alameda         Berkeley      7thGradeData   820
7     Alameda         Berkeley     ChildCareData  2202
8     Alameda         Berkeley  KindergartenData   879
9     Alameda    Castro Valley      7thGradeData   754
10    Alameda    Castro Valley     ChildCareData   898
11    Alameda    Castro Valley  KindergartenData   736
12    Alameda           Dublin      7thGradeData   892
13    Alameda           Dublin     ChildCareData  1240
14    Alameda           Dublin  KindergartenData  1208
15    Alameda       Emeryville     ChildCareData   184
16    Alameda          Fremont      7thGradeData  2887
17    Alameda          Fremont     ChildCareData  4303
18    Alameda          Fremont  KindergartenData  3596
19    Alameda          Hayward      7thGradeData  1619
20    Alameda          Hayward     ChildCareData  1799
21    Alameda          Hayward  KindergartenData  2243
22    Alameda        Livermore      7thGradeData  1049
23    Alameda        Livermore     ChildCareData  1511
24    Alameda        Livermore  KindergartenData  1198
25    Alameda           Newark      7thGradeData   499
26    Alameda           Newark     ChildCareData   987
27    Alameda           Newark  KindergartenData   659
28    Alameda          Oakland      7thGradeData  3942
29    Alameda          Oakland     ChildCareData  3943
...       ...              ...               ...   ...
2129     Yolo          Esparto      7thGradeData    69
2130     Yolo          Esparto     ChildCareData    43
2131     Yolo          Esparto  KindergartenData    79
2132     Yolo  Knights Landing  KindergartenData    39
2133     Yolo          Madison     ChildCareData    51
2134     Yolo  West Sacramento      7thGradeData   584
2135     Yolo  West Sacramento     ChildCareData   392
2136     Yolo  West Sacramento  KindergartenData   810
2137     Yolo          Winters      7thGradeData   118
2138     Yolo          Winters     ChildCareData   168
2139     Yolo          Winters  KindergartenData   148
2140     Yolo         Woodland      7thGradeData   817
2141     Yolo         Woodland     ChildCareData   875
2142     Yolo         Woodland  KindergartenData   923
2143     Yuba        Beale AFB     ChildCareData    65
2144     Yuba        Beale AFB  KindergartenData   116
2145     Yuba    Browns Valley  KindergartenData    44
2146     Yuba        Challenge  KindergartenData    19
2147     Yuba       Marysville      7thGradeData   284
2148     Yuba       Marysville     ChildCareData   162
2149     Yuba       Marysville  KindergartenData   491
2150     Yuba       Olivehurst      7thGradeData   389
2151     Yuba       Olivehurst     ChildCareData   105
2152     Yuba       Olivehurst  KindergartenData   429
2153     Yuba      Plumas Lake      7thGradeData   126
2154     Yuba      Plumas Lake     ChildCareData    69
2155     Yuba      Plumas Lake  KindergartenData   172
2156     Yuba        Wheatland      7thGradeData   126
2157     Yuba        Wheatland     ChildCareData    94
2158     Yuba        Wheatland  KindergartenData    94

[2159 rows x 4 columns]

In [26]:
#Export count of students vaccinated by county,city and grade
vac_n.to_csv("vac_n_table1617.CSV")

In [27]:
#Get average percentage of students vaccinated by county,city and grade
vac_pct=vac_1617.groupby(by=['county','city','vac_info_type'], as_index=False)['pct'].mean()
vac_pct

       county             city     vac_info_type        pct
0     Alameda          Alameda      7thGradeData  97.100000
1     Alameda          Alameda     ChildCareData  95.923077
2     Alameda          Alameda  KindergartenData  96.500000
3     Alameda           Albany      7thGradeData  96.000000
4     Alameda           Albany     ChildCareData  94.166667
5     Alameda           Albany  KindergartenData  96.666667
6     Alameda         Berkeley      7thGradeData  96.142857
7     Alameda         Berkeley     ChildCareData  94.243902
8     Alameda         Berkeley  KindergartenData  93.000000
9     Alameda    Castro Valley      7thGradeData  97.000000
10    Alameda    Castro Valley     ChildCareData  96.615385
11    Alameda    Castro Valley  KindergartenData  96.916667
12    Alameda           Dublin      7thGradeData  96.600000
13    Alameda           Dublin     ChildCareData  94.850000
14    Alameda           Dublin  KindergartenData  96.909091
15    Alameda       Emeryville     ChildCareData  95.750000
16    Alameda          Fremont      7thGradeData  96.307692
17    Alameda          Fremont     ChildCareData  94.951613
18    Alameda          Fremont  KindergartenData  97.459459
19    Alameda          Hayward      7thGradeData  97.090909
20    Alameda          Hayward     ChildCareData  95.263158
21    Alameda          Hayward  KindergartenData  97.714286
22    Alameda        Livermore      7thGradeData  96.625000
23    Alameda        Livermore     ChildCareData  96.541667
24    Alameda        Livermore  KindergartenData  97.833333
25    Alameda           Newark      7thGradeData  97.333333
26    Alameda           Newark     ChildCareData  96.437500
27    Alameda           Newark  KindergartenData  96.900000
28    Alameda          Oakland      7thGradeData  95.960784
29    Alameda          Oakland     ChildCareData  95.571429
...       ...              ...               ...        ...
2129     Yolo          Esparto      7thGradeData  97.000000
2130     Yolo          Esparto     ChildCareData  95.000000
2131     Yolo          Esparto  KindergartenData  98.000000
2132     Yolo  Knights Landing  KindergartenData  95.000000
2133     Yolo          Madison     ChildCareData  98.000000
2134     Yolo  West Sacramento      7thGradeData  97.714286
2135     Yolo  West Sacramento     ChildCareData  95.833333
2136     Yolo  West Sacramento  KindergartenData  95.909091
2137     Yolo          Winters      7thGradeData  99.000000
2138     Yolo          Winters     ChildCareData  96.500000
2139     Yolo          Winters  KindergartenData  98.000000
2140     Yolo         Woodland      7thGradeData  96.666667
2141     Yolo         Woodland     ChildCareData  95.894737
2142     Yolo         Woodland  KindergartenData  97.727273
2143     Yuba        Beale AFB     ChildCareData  98.000000
2144     Yuba        Beale AFB  KindergartenData  96.500000
2145     Yuba    Browns Valley  KindergartenData  95.000000
2146     Yuba        Challenge  KindergartenData  95.000000
2147     Yuba       Marysville      7thGradeData  95.500000
2148     Yuba       Marysville     ChildCareData  95.000000
2149     Yuba       Marysville  KindergartenData  93.285714
2150     Yuba       Olivehurst      7thGradeData  99.000000
2151     Yuba       Olivehurst     ChildCareData  96.500000
2152     Yuba       Olivehurst  KindergartenData  97.400000
2153     Yuba      Plumas Lake      7thGradeData  99.000000
2154     Yuba      Plumas Lake     ChildCareData  98.000000
2155     Yuba      Plumas Lake  KindergartenData  97.000000
2156     Yuba        Wheatland      7thGradeData  99.000000
2157     Yuba        Wheatland     ChildCareData  96.000000
2158     Yuba        Wheatland  KindergartenData  98.000000

[2159 rows x 4 columns]

In [28]:
#Export average percentage of students vaccinated by county,city and grade
vac_pct.to_csv("vac_pct_table1617.CSV")

In [29]:
# create grouping by county for comparison to outbreak incidence rates
#Get average percentage of students vaccinated by county and grade
vac_county_pct=vac_1617.groupby(by=['county','vac_info_type'], as_index=False)['pct'].mean()
vac_county_pct

           county     vac_info_type        pct
0         Alameda      7thGradeData  96.121212
1         Alameda     ChildCareData  95.421446
2         Alameda  KindergartenData  96.249084
3          Amador      7thGradeData  96.000000
4          Amador     ChildCareData  92.428571
5          Amador  KindergartenData  95.166667
6           Butte      7thGradeData  91.904762
7           Butte     ChildCareData  95.079365
8           Butte  KindergartenData  94.275000
9       Calaveras      7thGradeData  88.000000
10      Calaveras     ChildCareData  91.666667
11      Calaveras  KindergartenData  86.875000
12         Colusa      7thGradeData  97.666667
13         Colusa     ChildCareData  95.000000
14         Colusa  KindergartenData  97.250000
15   Contra Costa      7thGradeData  97.130952
16   Contra Costa     ChildCareData  95.629893
17   Contra Costa  KindergartenData  96.494681
18      Del Norte      7thGradeData  95.500000
19      Del Norte     ChildCareData  81.833333
20      Del Norte  KindergartenData  92.750000
21      El Dorado      7thGradeData  96.777778
22      El Dorado     ChildCareData  94.818182
23      El Dorado  KindergartenData  95.142857
24         Fresno      7thGradeData  96.769231
25         Fresno     ChildCareData  94.771863
26         Fresno  KindergartenData  96.872449
27          Glenn      7thGradeData  96.600000
28          Glenn     ChildCareData  93.500000
29          Glenn  KindergartenData  96.000000
..            ...               ...        ...
138        Sonoma      7thGradeData  93.250000
139        Sonoma     ChildCareData  93.658730
140        Sonoma  KindergartenData  93.277228
141    Stanislaus      7thGradeData  95.078947
142    Stanislaus     ChildCareData  95.857143
143    Stanislaus  KindergartenData  96.180952
144        Sutter      7thGradeData  82.350000
145        Sutter     ChildCareData  93.433333
146        Sutter  KindergartenData  88.840000
147        Tehama      7thGradeData  96.200000
148        Tehama     ChildCareData  94.263158
149        Tehama  KindergartenData  96.642857
150       Trinity      7thGradeData  90.000000
151       Trinity     ChildCareData  95.000000
152       Trinity  KindergartenData  93.500000
153        Tulare      7thGradeData  95.714286
154        Tulare     ChildCareData  96.013158
155        Tulare  KindergartenData  96.737864
156      Tuolumne      7thGradeData  90.222222
157      Tuolumne     ChildCareData  89.900000
158      Tuolumne  KindergartenData  89.750000
159       Ventura      7thGradeData  93.208955
160       Ventura     ChildCareData  95.246154
161       Ventura  KindergartenData  96.006579
162          Yolo      7thGradeData  97.705882
163          Yolo     ChildCareData  95.421053
164          Yolo  KindergartenData  96.400000
165          Yuba      7thGradeData  97.000000
166          Yuba     ChildCareData  96.100000
167          Yuba  KindergartenData  95.526316

[168 rows x 3 columns]

In [30]:
#Export average percentage of students vaccinated by county,and grade
vac_county_pct.to_csv("vac_pct_county_table1617.CSV")

In [31]:
vac_1617.head()

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,vac_info_type,reported
0,13417683,Alameda,PRIVATE,Hayward,A JOYFUL NOISE LEARNING CENTER,22,20,95,ChildCareData,Y
2,13420589,Alameda,PUBLIC,Alameda,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100,98,98,ChildCareData,Y
4,13419449,Alameda,PRIVATE,Fremont,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55,53,98,ChildCareData,Y
5,13417471,Alameda,PRIVATE,Fremont,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28,26,95,ChildCareData,Y
6,13411388,Alameda,PRIVATE,Alameda,ABC PRESCHOOL,32,30,95,ChildCareData,Y

In [32]:
#Export full cleaned data
vac_1617.to_csv("clean1617.csv", index=False)

## Census Data Cleaning

### Demographics

In [33]:
# Import and clean census data for basic demographics age gender race
census16 = pd.read_csv("vaxxfacts/raw_data/Census/ACS_16_demographic.csv",encoding = "ISO-8859-1",header=[0],na_values=['-'],)

In [34]:
census16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",1000,338,1000,(X),409,146,40.9,...,695,(X),279,101,40.1,7.1,416,194,59.9,7.1
1,1600000US0600156,600156,"Acampo CDP, California",466,398,466,(X),291,277,62.4,...,466,(X),291,277,62.4,13.7,175,137,37.6,13.7
2,1600000US0600212,600212,"Acton CDP, California",7170,555,7170,(X),3776,318,52.7,...,5777,(X),3020,279,52.3,2.2,2757,199,47.7,2.2
3,1600000US0600296,600296,"Adelanto city, California",32311,35,32311,(X),16350,651,50.6,...,16322,(X),8399,706,51.5,2.4,7923,539,48.5,2.4
4,1600000US0600310,600310,"Adin CDP, California",155,91,155,(X),59,40,38.1,...,115,(X),52,33,45.2,15.8,63,35,54.8,15.8

In [35]:
demographic16 = census16[['GEO.id','GEO.id2','GEO.display-label',
                     'HC01_VC03',
                     'HC01_VC04','HC03_VC04',
                     'HC01_VC05','HC03_VC05',
                     'HC01_VC08','HC03_VC08',
                     'HC01_VC09','HC03_VC09',
                     'HC01_VC10','HC03_VC10',
                     'HC01_VC11','HC03_VC11',
                     'HC01_VC12','HC03_VC12',
                     'HC01_VC13','HC03_VC13',
                     'HC01_VC14','HC03_VC14',
                     'HC01_VC15','HC03_VC15',
                     'HC01_VC16','HC03_VC16',
                     'HC01_VC17','HC03_VC17',
                     'HC01_VC18','HC03_VC18',
                     'HC01_VC19','HC03_VC19',
                     'HC01_VC20','HC03_VC20',
                     'HC01_VC23','HC03_VC23',
                     'HC01_VC88','HC03_VC88',
                     'HC01_VC94','HC03_VC94',
                     'HC01_VC95','HC03_VC95',
                     'HC01_VC96','HC03_VC96',
                     'HC01_VC97','HC03_VC97',
                     'HC01_VC98','HC03_VC98',
                     'HC01_VC99','HC03_VC99',
                     'HC01_VC100','HC03_VC100',
                     'HC01_VC101','HC03_VC101',
                     'HC01_VC102','HC03_VC102'                 
        ]]

In [36]:
demographic16.dtypes

GEO.id                object
GEO.id2                int64
GEO.display-label     object
HC01_VC03              int64
HC01_VC04              int64
HC03_VC04            float64
HC01_VC05              int64
HC03_VC05            float64
HC01_VC08              int64
HC03_VC08            float64
HC01_VC09              int64
HC03_VC09            float64
HC01_VC10              int64
HC03_VC10            float64
HC01_VC11              int64
HC03_VC11            float64
HC01_VC12              int64
HC03_VC12            float64
HC01_VC13              int64
HC03_VC13            float64
HC01_VC14              int64
HC03_VC14            float64
HC01_VC15              int64
HC03_VC15            float64
HC01_VC16              int64
HC03_VC16            float64
HC01_VC17              int64
HC03_VC17            float64
HC01_VC18              int64
HC03_VC18            float64
HC01_VC19              int64
HC03_VC19            float64
HC01_VC20              int64
HC03_VC20            float64
HC01_VC23            float64
HC03_VC23             object
HC01_VC88              int64
HC03_VC88            float64
HC01_VC94              int64
HC03_VC94            float64
HC01_VC95              int64
HC03_VC95            float64
HC01_VC96              int64
HC03_VC96            float64
HC01_VC97              int64
HC03_VC97            float64
HC01_VC98              int64
HC03_VC98            float64
HC01_VC99              int64
HC03_VC99            float64
HC01_VC100             int64
HC03_VC100           float64
HC01_VC101             int64
HC03_VC101           float64
HC01_VC102             int64
HC03_VC102           float64
dtype: object

In [37]:
#combine other race, two or more races (HC01_VC99, HC01_VC100, HC01_VC101, HC01_VC102)
demographic16['other']=pd.Series(census16['HC01_VC99']+census16['HC01_VC100']+census16['HC01_VC101']+census16['HC01_VC102'])

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
demographic16['other_pct']=pd.Series(census16['HC03_VC99']+census16['HC03_VC100']+census16['HC03_VC101']+census16['HC03_VC102'])

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
demographic16.rename(columns={'GEO.display-label': 'city',
                         'HC01_VC03': 'tot_pop', 
                         'HC01_VC04': 'male',
                         'HC01_VC05': 'female',
                         'HC01_VC08':'under_5',
                         'HC01_VC09':'5_9',
                         'HC01_VC10':'10_14',
                         'HC01_VC11':'15_19',
                         'HC01_VC12':'20_24',
                         'HC01_VC13':'25_34',
                         'HC01_VC14':'35_44',
                         'HC01_VC15':'45_54',
                         'HC01_VC16':'55_59',
                         'HC01_VC17':'60_64',
                         'HC01_VC18':'65_74',
                         'HC01_VC19':'75_84',
                         'HC01_VC20':'85_over',
                         'HC01_VC23':'median_age',
                         'HC01_VC88':'hispanic_latino',
                         'HC01_VC89':'mexican',
                         'HC01_VC94':'white',
                         'HC01_VC95':'black',
                         'HC01_VC96':'aian',
                         'HC01_VC97':'asian',
                         'HC01_VC98':'nhopi',

                         'HC03_VC04': 'male_pct',
                         'HC03_VC05': 'female_pct',
                         'HC03_VC08':'under_5_pct',
                         'HC03_VC09':'5_9_pct',
                         'HC03_VC10':'10_14_pct',
                         'HC03_VC11':'15_19_pct',
                         'HC03_VC12':'20_24_pct',
                         'HC03_VC13':'25_34_pct',
                         'HC03_VC14':'35_44_pct',
                         'HC03_VC15':'45_54_pct',
                         'HC03_VC16':'55_59_pct',
                         'HC03_VC17':'60_64_pct',
                         'HC03_VC18':'65_74_pct',
                         'HC03_VC19':'75_84_pct',
                         'HC03_VC20':'85_over_pct',
                         'HC03_VC23':'median_age_pct',
                         'HC03_VC88':'hispanic_latino_pct',
                         'HC03_VC89':'mexican_pct',
                         'HC03_VC94':'white_pct',
                         'HC03_VC95':'black_pct',
                         'HC03_VC96':'aian_pct',
                         'HC03_VC97':'asian_pct',
                         'HC03_VC98':'nhopi_pct'
                        }, 
                inplace=True)
# Other race categories
#                          'HC01_VC99':'other_only',
#                          'HC01_VC100':'more_two_races',
#                          'HC01_VC101':'more_two_races_other',
#                          'HC01_VC102':'more_two_races_other_exclude',

C:\Users\42\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [40]:
demographic16.dtypes

GEO.id                  object
GEO.id2                  int64
city                    object
tot_pop                  int64
male                     int64
male_pct               float64
female                   int64
female_pct             float64
under_5                  int64
under_5_pct            float64
5_9                      int64
5_9_pct                float64
10_14                    int64
10_14_pct              float64
15_19                    int64
15_19_pct              float64
20_24                    int64
20_24_pct              float64
25_34                    int64
25_34_pct              float64
35_44                    int64
35_44_pct              float64
45_54                    int64
45_54_pct              float64
55_59                    int64
55_59_pct              float64
60_64                    int64
60_64_pct              float64
65_74                    int64
65_74_pct              float64
75_84                    int64
75_84_pct              float64
85_over                  int64
85_over_pct            float64
median_age             float64
median_age_pct          object
hispanic_latino          int64
hispanic_latino_pct    float64
white                    int64
white_pct              float64
black                    int64
black_pct              float64
aian                     int64
aian_pct               float64
asian                    int64
asian_pct              float64
nhopi                    int64
nhopi_pct              float64
HC01_VC99                int64
HC03_VC99              float64
HC01_VC100               int64
HC03_VC100             float64
HC01_VC101               int64
HC03_VC101             float64
HC01_VC102               int64
HC03_VC102             float64
other                    int64
other_pct              float64
dtype: object

In [41]:
demographic16['city']=demographic16.city.replace(' city, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
demographic16['city']=demographic16.city.replace(' CDP, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [43]:
demographic16['city']=demographic16.city.replace(' town, California', '', regex=True)

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
## Uppercase cities
demographic16['city']=demographic16['city'].str.title()

C:\Users\42\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [45]:
demographic16=demographic16.drop(columns=['HC01_VC99','HC03_VC99','HC01_VC100','HC03_VC100','HC01_VC101','HC03_VC101','HC01_VC102','HC03_VC102'])
demographic16.head()

,GEO.id,GEO.id2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,black,black_pct,aian,aian_pct,asian,asian_pct,nhopi,nhopi_pct,other,other_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,0,0.0,0,0.0,209,20.9,0,0.0,322,32.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,120,1.7,15,0.2,67,0.9,0,0.0,254,3.6
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,5810,18.0,12,0.0,497,1.5,0,0.0,2061,6.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,0,0.0,0,0.0,0,0.0,0,0.0,10,6.4

### Median Household Income and Health insurance Status

Median Household Income has categories 2,500-, 250,000+ which was changed to 2500 and 250000.

In [46]:
# Import and clean acs data for income and insurance status
acs16 = pd.read_csv("vaxxfacts/raw_data/Census/ACS_16_economic.csv", encoding = "ISO-8859-1", header=[0], na_values=['-'])

In [47]:
acs16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC178,HC04_VC178,HC01_VC179,HC02_VC179,HC03_VC179,HC04_VC179,HC01_VC180,HC02_VC180,HC03_VC180,HC04_VC180
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",747,288,747,(X),497,296,66.5,...,0.0,26.1,(X),(X),0.0,3.5,(X),(X),0.0,26.9
1,1600000US0600156,600156,"Acampo CDP, California",466,398,466,(X),368,359,79.0,...,0.0,27.6,(X),(X),0.0,9.3,(X),(X),0.0,21.6
2,1600000US0600212,600212,"Acton CDP, California",6098,398,6098,(X),3917,339,64.2,...,5.2,3.6,(X),(X),1.6,1.2,(X),(X),39.7,11.7
3,1600000US0600296,600296,"Adelanto city, California",21534,628,21534,(X),9910,597,46.0,...,21.3,6.9,(X),(X),41.5,5.6,(X),(X),49.4,5.9
4,1600000US0600310,600310,"Adin CDP, California",123,63,123,(X),51,36,41.5,...,32.5,43.5,(X),(X),0.0,28.3,(X),(X),34.0,32.3

In [48]:
acs16=acs16[['GEO.id','GEO.id2','GEO.display-label','HC01_VC85','HC01_VC131','HC03_VC131',
                'HC01_VC132','HC03_VC132','HC01_VC133','HC03_VC133','HC01_VC134','HC03_VC134']]
income16=acs16

In [49]:
income16.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC85,HC01_VC131,HC03_VC131,HC01_VC132,HC03_VC132,HC01_VC133,HC03_VC133,HC01_VC134,HC03_VC134
0,1600000US0600135,600135,"Acalanes Ridge CDP, California",187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,"Acampo CDP, California",155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,"Acton CDP, California",91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,"Adelanto city, California",29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,"Adin CDP, California",55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [50]:
income16.dtypes

GEO.id                object
GEO.id2                int64
GEO.display-label     object
HC01_VC85            float64
HC01_VC131             int64
HC03_VC131           float64
HC01_VC132             int64
HC03_VC132           float64
HC01_VC133             int64
HC03_VC133           float64
HC01_VC134             int64
HC03_VC134           float64
dtype: object

In [51]:
income16.rename(columns={'GEO.display-label': 'city',
                         'HC01_VC85': 'median_income',
                         'HC01_VC131': 'insurance',
                         'HC01_VC132': 'private_insure',
                         'HC01_VC133': 'public_insure',
                         'HC01_VC134': 'no_insurance',

                         'HC03_VC131': 'insurance_pct',
                         'HC03_VC132': 'private_insure_pct',
                         'HC03_VC133': 'public_insure_pct',
                         'HC03_VC134': 'no_insurance_pct'  
                        }, 
                inplace=True)

In [52]:
income16.dtypes

GEO.id                 object
GEO.id2                 int64
city                   object
median_income         float64
insurance               int64
insurance_pct         float64
private_insure          int64
private_insure_pct    float64
public_insure           int64
public_insure_pct     float64
no_insurance            int64
no_insurance_pct      float64
dtype: object

In [53]:
income16['city']=income16.city.replace(' CDP, California', '', regex=True)

In [54]:
income16['city']=income16.city.replace(' city, California', '', regex=True)

In [55]:
income16['city']=income16.city.replace(' town, California', '', regex=True)

In [56]:
income16.head()

,GEO.id,GEO.id2,city,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

## Join Demographics and income data

In [57]:
pop_data=demographic16.merge(income16, left_on='GEO.id', right_on='GEO.id', how='outer')
pop_data.head()

,GEO.id,GEO.id2_x,city_x,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,city_y,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,Acalanes Ridge,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,Acampo,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,Acton,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,Adelanto,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,Adin,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [58]:
list(pop_data.columns.values)

['GEO.id',
 'GEO.id2_x',
 'city_x',
 'tot_pop',
 'male',
 'male_pct',
 'female',
 'female_pct',
 'under_5',
 'under_5_pct',
 '5_9',
 '5_9_pct',
 '10_14',
 '10_14_pct',
 '15_19',
 '15_19_pct',
 '20_24',
 '20_24_pct',
 '25_34',
 '25_34_pct',
 '35_44',
 '35_44_pct',
 '45_54',
 '45_54_pct',
 '55_59',
 '55_59_pct',
 '60_64',
 '60_64_pct',
 '65_74',
 '65_74_pct',
 '75_84',
 '75_84_pct',
 '85_over',
 '85_over_pct',
 'median_age',
 'median_age_pct',
 'hispanic_latino',
 'hispanic_latino_pct',
 'white',
 'white_pct',
 'black',
 'black_pct',
 'aian',
 'aian_pct',
 'asian',
 'asian_pct',
 'nhopi',
 'nhopi_pct',
 'other',
 'other_pct',
 'GEO.id2_y',
 'city_y',
 'median_income',
 'insurance',
 'insurance_pct',
 'private_insure',
 'private_insure_pct',
 'public_insure',
 'public_insure_pct',
 'no_insurance',
 'no_insurance_pct']

In [59]:
pop_data=pop_data.drop(columns=['GEO.id2_y','city_y'])

In [60]:
pop_data=pop_data.rename(columns={'GEO.id': 'geoid',
                         'GEO.id2_x': 'geoid2',
                         'city_x': 'city'})

In [61]:
# Fix City naming to be similar for special characters
pop_data.loc[pop_data.city=='La Cañada Flintridge', 'city']='La Canada Flintridge'
pop_data.loc[pop_data.city=='Piñon Hills', 'city']='Pinon Hills'

# Change census cities names that are present in multiple places to match vaccine data city
pop_data.loc[pop_data.city=='El Sobrante CDP (Contra Costa County), California', 'city']='El Sobrante (Contra Costa County)'
pop_data.loc[pop_data.city=='Edwards Afb', 'city']='Edwards AFB'
pop_data.loc[pop_data.city=='Las Flores CDP (Orange County), California', 'city']='Las Flores (Orange County)'

In [62]:
pop_data.head()

,geoid,geoid2,city,tot_pop,male,male_pct,female,female_pct,under_5,under_5_pct,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,1600000US0600135,600135,Acalanes Ridge,1000,409,40.9,591,59.1,33,3.3,...,32.2,187604.0,988,98.8,952,95.2,149,14.9,12,1.2
1,1600000US0600156,600156,Acampo,466,291,62.4,175,37.6,0,0.0,...,0.0,155385.0,451,96.8,451,96.8,98,21.0,15,3.2
2,1600000US0600212,600212,Acton,7170,3776,52.7,3394,47.3,350,4.9,...,3.6,91168.0,6582,92.0,5798,81.0,1660,23.2,575,8.0
3,1600000US0600296,600296,Adelanto,32311,16350,50.6,15961,49.4,3148,9.7,...,6.3,29647.0,26528,86.7,9306,30.4,18268,59.7,4068,13.3
4,1600000US0600310,600310,Adin,155,59,38.1,96,61.9,7,4.5,...,6.4,55625.0,150,96.8,111,71.6,62,40.0,5,3.2

In [63]:
# Exported merged census data
pop_data.to_csv("pop_data16.csv", index=False)

## Join Vaccine data to Census data

Join needs unique cities in the vaccine data to use as a key. Will need to figure out how to weight the different grade levels based on the census population numbers for age.

In [64]:
vac_pop_1617=vac_1617.merge(pop_data, left_on='city', right_on='city', how='left')
vac_pop_1617

,facility_num,county,is_public,city,facility_name,enrollment,n,pct,vac_info_type,reported,...,other_pct,median_income,insurance,insurance_pct,private_insure,private_insure_pct,public_insure,public_insure_pct,no_insurance,no_insurance_pct
0,13417683,Alameda,PRIVATE,Hayward,A JOYFUL NOISE LEARNING CENTER,22,20,95,ChildCareData,Y,...,7.5,68138.0,135952.0,88.5,96388.0,62.8,52149.0,34.0,17588.0,11.5
1,13420589,Alameda,PUBLIC,Alameda,A.U.S.D.- WOODSTOCK CHILD DEVELOPMENT CENTER,100,98,98,ChildCareData,Y,...,12.5,83048.0,70366.0,92.7,58794.0,77.5,20088.0,26.5,5528.0,7.3
2,13419449,Alameda,PRIVATE,Fremont,ABC MAGIC MOMENTS PRESCHOOL - IRVINGTON,55,53,98,ChildCareData,Y,...,8.2,111613.0,215747.0,94.9,179932.0,79.2,51603.0,22.7,11477.0,5.1
3,13417471,Alameda,PRIVATE,Fremont,"ABC MAGIC MOMENTS,INC. PRESCHOOL/CHILDCARE",28,26,95,ChildCareData,Y,...,8.2,111613.0,215747.0,94.9,179932.0,79.2,51603.0,22.7,11477.0,5.1
4,13411388,Alameda,PRIVATE,Alameda,ABC PRESCHOOL,32,30,95,ChildCareData,Y,...,12.5,83048.0,70366.0,92.7,58794.0,77.5,20088.0,26.5,5528.0,7.3
5,13421345,Alameda,PRIVATE,Castro Valley,ABC PRESCHOOL & DAYCARE,47,44,95,ChildCareData,Y,...,9.1,87204.0,58630.0,94.6,49138.0,79.3,16649.0,26.9,3325.0,5.4
6,13420975,Alameda,PRIVATE,Oakland,ACADEMIA DE MI ABUELA,32,30,95,ChildCareData,Y,...,9.8,57778.0,359638.0,87.7,245913.0,60.0,150210.0,36.6,50464.0,12.3
7,13415846,Alameda,PRIVATE,Oakland,ACTS FULL GOSPEL CHRISTIAN ACADEMY,35,33,95,ChildCareData,Y,...,9.8,57778.0,359638.0,87.7,245913.0,60.0,150210.0,36.6,50464.0,12.3
8,13417566,Alameda,PRIVATE,Oakland,ADVANCE DAY CARE CENTER,68,66,98,ChildCareData,Y,...,9.8,57778.0,359638.0,87.7,245913.0,60.0,150210.0,36.6,50464.0,12.3
9,13416177,Alameda,PRIVATE,Union City,ADVENTURE MONTESSORI ACADEMY AND SCHOOL,38,36,95,ChildCareData,Y,...,8.6,91629.0,68520.0,93.4,52217.0,71.2,21990.0,30.0,4811.0,6.6
10,10214883,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - ANGELA AGUILAR CENTER,50,49,98,ChildCareData,Y,...,12.5,83048.0,70366.0,92.7,58794.0,77.5,20088.0,26.5,5528.0,7.3
11,13417425,Alameda,HEAD START,Alameda,ALAMEDA HEAD START - SUE MATHESON CENTER,49,46,95,ChildCareData,Y,...,12.5,83048.0,70366.0,92.7,58794.0,77.5,20088.0,26.5,5528.0,7.3
12,13420593,Alameda,HEAD START,Alameda,ALAMEDA HEAD START- COLLEGE OF ALAMEDA HEAD START,70,68,98,ChildCareData,Y,...,12.5,83048.0,70366.0,92.7,58794.0,77.5,20088.0,26.5,5528.0,7.3
13,13420549,Alameda,PUBLIC,Albany,ALBANY CHILDREN'S CENTER,70,67,96,ChildCareData,Y,...,13.6,85458.0,18470.0,95.4,16020.0,82.8,4005.0,20.7,888.0,4.6
14,10209917,Alameda,PRIVATE,Albany,ALBANY PRESCHOOL,47,43,91,ChildCareData,Y,...,13.6,85458.0,18470.0,95.4,16020.0,82.8,4005.0,20.7,888.0,4.6
15,118216,Alameda,PUBLIC,Castro Valley,ALMA PRESCHOOL,43,40,95,ChildCareData,Y,...,9.1,87204.0,58630.0,94.6,49138.0,79.3,16649.0,26.9,3325.0,5.4
16,13419470,Alameda,PRIVATE,Berkeley,AMERICAN INTERNATIONAL MONTESSORI SCHOOL,74,72,98,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
17,13417502,Alameda,PRIVATE,Berkeley,AQUATIC PARK SCHOOL,56,41,73,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
18,13412710,Alameda,PRIVATE,Albany,BAY AREA KINDER STUBE,27,25,93,ChildCareData,Y,...,13.6,85458.0,18470.0,95.4,16020.0,82.8,4005.0,20.7,888.0,4.6
19,10206014,Alameda,PRIVATE,Alameda,BAYSIDE MONTESSORI ASSOCIATION,23,21,95,ChildCareData,Y,...,12.5,83048.0,70366.0,92.7,58794.0,77.5,20088.0,26.5,5528.0,7.3
20,10209453,Alameda,PRIVATE,Berkeley,BERKELEY HILLS NURSERY SCHOOL,33,31,95,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
21,10200050,Alameda,PRIVATE,Berkeley,BERKELEY MONTESSORI SCHOOL,85,83,98,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
22,13420958,Alameda,PRIVATE,Berkeley,BERKELEY ROSE SCHOOL,37,22,59,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
23,13420963,Alameda,HEAD START,Emeryville,BERKELEY YMCA HEAD START - EMERYVILLE MARINA,44,41,95,ChildCareData,Y,...,13.7,74295.0,10282.0,92.7,8823.0,79.6,2334.0,21.1,804.0,7.3
24,13411435,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - OCEAN VIEW,38,36,95,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
25,10200607,Alameda,HEAD START,Berkeley,BERKELEY YMCA HEAD START - SOUTH YMCA,38,36,95,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
26,10206120,Alameda,PUBLIC,Berkeley,BERKELEY YMCA HEAD START - WEST,56,54,98,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
27,10214258,Alameda,PRIVATE,Oakland,BERNICE & JOE PLAYSCHOOL,33,31,95,ChildCareData,Y,...,9.8,57778.0,359638.0,87.7,245913.0,60.0,150210.0,36.6,50464.0,12.3
28,13418160,Alameda,PRIVATE,Berkeley,BETH EL NURSERY SCHOOL,61,59,98,ChildCareData,Y,...,10.7,70393.0,111580.0,94.4,97686.0,82.7,26217.0,22.2,6600.0,5.6
29,13417600,Alameda,PRIVATE,Pleasanton,BETH EMEK PRESCHOOL,41,38,95,ChildCareData,Y,...,7.4,130170.0,74147.0,96.4,68205.0,88.7,13415.0,17.4,2731.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17745,6941678,Ventura,PRIVATE,Thousand Oaks,LA REINA HIGH SCHOOL,80,78,98,7thGradeData,Y,...,5.4,101045.0,117852.0,92.0,101371.0,79.1,32596.0,25.4,10268.0,8.0
17746,6965818,Ventura,PRIVATE,Thousand Oaks,ST. PASCHAL BAYLON ELEMENTARY,40,38,95,7thGradeData,Y,...,5.4,101045.0,117852.0,92.0,101371.0,79.1,32596.0,25.4,10268.0,8.0
17747,7060536,Ventura,PRIVATE,Thousand Oaks,TRINITY PACIFIC CHRISTIAN SCHOOL,34,21,62,7thGradeData,Y,...,5.4,101045.0,117852.0,92.0,101371.0,79.1,32596.0,25.4,10268.0,8.0
17748,6984389,Ventura,PRIVATE,San Buenaventura (Ventura),OUR LADY OF THE ASSUMPTION,28,26,95,7thGradeData,Y,...,5.1,70541.0,96480.0,89.5,73712.0,68.4,35158.0,32.6,11323.0,10.5
17749,6912414,Ventura,PRIVATE,San Buenaventura (Ventura),SACRED HEART,28,26,95,7thGradeData,Y,...,5.1,70541.0,96480.0,89.5,73712.0,68.4,35158.0,32.6,11323.0,10.5
17750,6912422,Ventura,PRIVATE,San Buenaventura (Ventura),VENTURA MISSIONARY CHRISTIAN,51,49,98,7thGradeData,Y,...,5.1,70541.0,96480.0,89.5,73712.0,68.4,35158.0,32.6,11323.0,10.5
17751,119578,Yolo,PUBLIC,Davis,DA VINCI CHARTER ACADEMY,105,103,99,7thGradeData,Y,...,9.6,57683.0,62929.0,94.5,57015.0,85.6,12056.0,18.1,3660.0,5.5
17752,106674,Yolo,PUBLIC,Davis,FRANCES ELLEN WATKINS HARPER JUNIOR HIGH,221,218,99,7thGradeData,Y,...,9.6,57683.0,62929.0,94.5,57015.0,85.6,12056.0,18.1,3660.0,5.5
17753,6060396,Yolo,PUBLIC,Davis,OLIVER WENDELL HOLMES JUNIOR HIGH,237,234,99,7thGradeData,Y,...,9.6,57683.0,62929.0,94.5,57015.0,85.6,12056.0,18.1,3660.0,5.5
17754,6066245,Yolo,PUBLIC,Davis,RALPH WALDO EMERSON JUNIOR HIGH,139,137,99,7thGradeData,Y,...,9.6,57683.0,62929.0,94.5,57015.0,85.6,12056.0,18.1,3660.0,5.5
17755,129726,Yolo,PUBLIC,Esparto,ESPARTO MIDDLE,71,69,97,7thGradeData,Y,...,0.4,61607.0,3333.0,92.1,2171.0,60.0,1534.0,42.4,285.0,7.9
17756,6120745,Yolo,PUBLIC,West Sacramento,BRIDGEWAY ISLAND ELEMENTARY,106,104,99,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17757,6056352,Yolo,PUBLIC,West Sacramento,ELKHORN VILLAGE ELEMENTARY,83,81,98,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17758,116996,Yolo,PUBLIC,West Sacramento,RIVERBANK ELEMENTARY,81,79,98,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17759,6115463,Yolo,PUBLIC,West Sacramento,SOUTHPORT ELEMENTARY,90,88,98,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17760,114710,Yolo,PUBLIC,West Sacramento,STONEGATE ELEMENTARY,105,103,99,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17761,6056402,Yolo,PUBLIC,West Sacramento,WESTMORE OAKS ELEMENTARY,105,102,97,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17762,6095368,Yolo,PUBLIC,Winters,WINTERS MIDDLE,120,118,99,7thGradeData,Y,...,3.6,67229.0,6081.0,87.3,5029.0,72.2,1697.0,24.4,882.0,12.7
17763,6071278,Yolo,PUBLIC,Woodland,DOUGLASS MIDDLE,430,425,99,7thGradeData,Y,...,4.8,56956.0,49390.0,87.3,34835.0,61.6,20566.0,36.4,7154.0,12.7
17764,6056519,Yolo,PUBLIC,Woodland,LEE MIDDLE,339,335,99,7thGradeData,Y,...,4.8,56956.0,49390.0,87.3,34835.0,61.6,20566.0,36.4,7154.0,12.7
17765,6984512,Yolo,PRIVATE,Davis,ST. JAMES ELEMENTARY,23,21,95,7thGradeData,Y,...,9.6,57683.0,62929.0,94.5,57015.0,85.6,12056.0,18.1,3660.0,5.5
17766,6984504,Yolo,PRIVATE,West Sacramento,OUR LADY OF GRACE,29,27,95,7thGradeData,Y,...,11.4,57023.0,45510.0,88.9,31944.0,62.4,17772.0,34.7,5678.0,11.1
17767,6996540,Yolo,PRIVATE,Woodland,WOODLAND CHRISTIAN SCHOOLS,62,57,92,7thGradeData,Y,...,4.8,56956.0,49390.0,87.3,34835.0,61.6,20566.0,36.4,7154.0,12.7
17768,6115935,Yuba,PUBLIC,Marysville,CAMPTONVILLE ACADEMY,41,37,90,7thGradeData,Y,...,8.4,41679.0,10010.0,87.6,5453.0,47.7,5693.0,49.8,1415.0,12.4
17769,6056626,Yuba,PUBLIC,Marysville,ANNA MCKENNEY INTERMEDIATE,177,175,99,7thGradeData,Y,...,8.4,41679.0,10010.0,87.6,5453.0,47.7,5693.0,49.8,1415.0,12.4
17770,6056691,Yuba,PUBLIC,Marysville,FOOTHILL INTERMEDIATE,55,53,98,7thGradeData,Y,...,8.4,41679.0,10010.0,87.6,5453.0,47.7,5693.0,49.8,1415.0,12.4
17771,121632,Yuba,PUBLIC,Marysville,PARAGON COLLEGIATE ACADEMY,21,19,95,7thGradeData,Y,...,8.4,41679.0,10010.0,87.6,5453.0,47.7,5693.0,49.8,1415.0,12.4
17772,6056790,Yuba,PUBLIC,Olivehurst,YUBA GARDENS INTERMEDIATE,393,389,99,7thGradeData,Y,...,9.0,43781.0,11470.0,85.7,6133.0,45.8,6753.0,50.4,1918.0,14.3
17773,112623,Yuba,PUBLIC,Plumas Lake,RIVERSIDE MEADOWS INTERMEDIATE,128,126,99,7thGradeData,Y,...,13.0,85422.0,5915.0,95.2,5255.0,84.5,1250.0,20.1,301.0,4.8
17774,6056816,Yuba,PUBLIC,Wheatland,BEAR RIVER,128,126,99,7thGradeData,Y,...,11.6,65696.0,3134.0,87.9,2459.0,69.0,994.0,27.9,431.0,12.1

In [65]:
#Export full cleaned data
vac_pop_1617.to_csv("cleanjoin1617.csv", index=False)

In [66]:
vac_pop_1617.dtypes

facility_num             int64
county                  object
is_public               object
city                    object
facility_name           object
enrollment               int64
n                        int64
pct                      int64
vac_info_type           object
reported                object
geoid                   object
geoid2                 float64
tot_pop                float64
male                   float64
male_pct               float64
female                 float64
female_pct             float64
under_5                float64
under_5_pct            float64
5_9                    float64
5_9_pct                float64
10_14                  float64
10_14_pct              float64
15_19                  float64
15_19_pct              float64
20_24                  float64
20_24_pct              float64
25_34                  float64
25_34_pct              float64
35_44                  float64
                        ...
65_74_pct              float64
75_84                  float64
75_84_pct              float64
85_over                float64
85_over_pct            float64
median_age             float64
median_age_pct          object
hispanic_latino        float64
hispanic_latino_pct    float64
white                  float64
white_pct              float64
black                  float64
black_pct              float64
aian                   float64
aian_pct               float64
asian                  float64
asian_pct              float64
nhopi                  float64
nhopi_pct              float64
other                  float64
other_pct              float64
median_income          float64
insurance              float64
insurance_pct          float64
private_insure         float64
private_insure_pct     float64
public_insure          float64
public_insure_pct      float64
no_insurance           float64
no_insurance_pct       float64
Length: 68, dtype: object